pipeline/Chamados Requestia - Teste.json
{
	"name": "Chamados Requestia - Teste",
	"properties": {
		"activities": [
			{
				"name": "Clear tables",
				"description": "Truncate all Requestia's tables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_TRUNCATEREQUESTS]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Check request file exists",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Clear tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "FILE_REQUESTS",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Requests file exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check request file exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\nactivity('Check request file exists').output.exists, \ntrue)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send requests failure",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "sergio.queiroz@opty.com.br",
									"Subject": "Arquivo Requestia\\REQUESTS não encontrado!",
									"ErrorMessage": "O arquivo Requestia\\REQUESTS não foi encontrado",
									"MasterPipeline": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy requests",
							"description": "Copy requests data from CSV (stored on Power BI Gateway VM) to Azure SQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "REQUEST",
												"type": "String"
											},
											"sink": {
												"name": "REQUEST",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CLIENT",
												"type": "String"
											},
											"sink": {
												"name": "CLIENT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ORIGANAL",
												"type": "String"
											},
											"sink": {
												"name": "ORIGANAL",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CURRANAL",
												"type": "String"
											},
											"sink": {
												"name": "CURRANAL",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GROUPANAL",
												"type": "String"
											},
											"sink": {
												"name": "GROUPANAL",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LASTANAL",
												"type": "String"
											},
											"sink": {
												"name": "LASTANAL",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LASTANLGRP",
												"type": "String"
											},
											"sink": {
												"name": "LASTANLGRP",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ORIGGROUP",
												"type": "String"
											},
											"sink": {
												"name": "ORIGGROUP",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CURRGROUP",
												"type": "String"
											},
											"sink": {
												"name": "CURRGROUP",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LASTGROUP",
												"type": "String"
											},
											"sink": {
												"name": "LASTGROUP",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GRGROUP",
												"type": "String"
											},
											"sink": {
												"name": "GRGROUP",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CATEGORY",
												"type": "String"
											},
											"sink": {
												"name": "CATEGORY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RPRIORITY",
												"type": "String"
											},
											"sink": {
												"name": "RPRIORITY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PRODUCT",
												"type": "String"
											},
											"sink": {
												"name": "PRODUCT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PROCESS",
												"type": "String"
											},
											"sink": {
												"name": "PROCESS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PROBLEM",
												"type": "String"
											},
											"sink": {
												"name": "PROBLEM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RSTATUS",
												"type": "String"
											},
											"sink": {
												"name": "RSTATUS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REQTYPE",
												"type": "String"
											},
											"sink": {
												"name": "REQTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REQSOURCE",
												"type": "String"
											},
											"sink": {
												"name": "REQSOURCE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LOCATION",
												"type": "String"
											},
											"sink": {
												"name": "LOCATION",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ORGUNIT",
												"type": "String"
											},
											"sink": {
												"name": "ORGUNIT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ORGUNIT_ROOT",
												"type": "String"
											},
											"sink": {
												"name": "ORGUNIT_ROOT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CHARGE",
												"type": "String"
											},
											"sink": {
												"name": "CHARGE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SLEVEL",
												"type": "String"
											},
											"sink": {
												"name": "SLEVEL",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EQUIP",
												"type": "String"
											},
											"sink": {
												"name": "EQUIP",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RESOURCEID",
												"type": "String"
											},
											"sink": {
												"name": "RESOURCEID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REQUESTOR",
												"type": "String"
											},
											"sink": {
												"name": "REQUESTOR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "OPENDATE",
												"type": "String"
											},
											"sink": {
												"name": "OPENDATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CLOSEDATE",
												"type": "String"
											},
											"sink": {
												"name": "CLOSEDATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CLOSED",
												"type": "String"
											},
											"sink": {
												"name": "CLOSED",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LASTACTION",
												"type": "String"
											},
											"sink": {
												"name": "LASTACTION",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LASTANALYST",
												"type": "String"
											},
											"sink": {
												"name": "LASTANALYST",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LASTSTATUS",
												"type": "String"
											},
											"sink": {
												"name": "LASTSTATUS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LASTPRIORITY",
												"type": "String"
											},
											"sink": {
												"name": "LASTPRIORITY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LASTREOPEN",
												"type": "String"
											},
											"sink": {
												"name": "LASTREOPEN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LASTACTIONATEND",
												"type": "String"
											},
											"sink": {
												"name": "LASTACTIONATEND",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LASTACTTYPE",
												"type": "String"
											},
											"sink": {
												"name": "LASTACTTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RESPDATE",
												"type": "String"
											},
											"sink": {
												"name": "RESPDATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RESPTIME",
												"type": "String"
											},
											"sink": {
												"name": "RESPTIME",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RESLTIME",
												"type": "String"
											},
											"sink": {
												"name": "RESLTIME",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RESPMINS",
												"type": "String"
											},
											"sink": {
												"name": "RESPMINS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RESLMINS",
												"type": "String"
											},
											"sink": {
												"name": "RESLMINS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RESPREMAINS",
												"type": "String"
											},
											"sink": {
												"name": "RESPREMAINS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RESLREMAINS",
												"type": "String"
											},
											"sink": {
												"name": "RESLREMAINS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RESPMODE",
												"type": "String"
											},
											"sink": {
												"name": "RESPMODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RESLMODE",
												"type": "String"
											},
											"sink": {
												"name": "RESLMODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "NOCOMPUTE",
												"type": "String"
											},
											"sink": {
												"name": "NOCOMPUTE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RLOCKED",
												"type": "String"
											},
											"sink": {
												"name": "RLOCKED",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ESTIMCOST",
												"type": "String"
											},
											"sink": {
												"name": "ESTIMCOST",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TOTALCOST",
												"type": "String"
											},
											"sink": {
												"name": "TOTALCOST",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "APROVANLTYPE",
												"type": "String"
											},
											"sink": {
												"name": "APROVANLTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "APROVANALYST",
												"type": "String"
											},
											"sink": {
												"name": "APROVANALYST",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "APROVCLITYPE",
												"type": "String"
											},
											"sink": {
												"name": "APROVCLITYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MLEVELAPROV",
												"type": "String"
											},
											"sink": {
												"name": "MLEVELAPROV",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CLIENTAPROV",
												"type": "String"
											},
											"sink": {
												"name": "CLIENTAPROV",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PACKAGE",
												"type": "String"
											},
											"sink": {
												"name": "PACKAGE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PROJECT",
												"type": "String"
											},
											"sink": {
												"name": "PROJECT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "WORKFLOW",
												"type": "String"
											},
											"sink": {
												"name": "WORKFLOW",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REQWORKFLOW",
												"type": "String"
											},
											"sink": {
												"name": "REQWORKFLOW",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ORIGCATEGORY",
												"type": "String"
											},
											"sink": {
												"name": "ORIGCATEGORY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ORIGPRODUCT",
												"type": "String"
											},
											"sink": {
												"name": "ORIGPRODUCT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ORIGPROCESS",
												"type": "String"
											},
											"sink": {
												"name": "ORIGPROCESS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TOTALATTACH",
												"type": "String"
											},
											"sink": {
												"name": "TOTALATTACH",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TOTALATTACHACT",
												"type": "String"
											},
											"sink": {
												"name": "TOTALATTACHACT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INSERTDATE",
												"type": "String"
											},
											"sink": {
												"name": "INSERTDATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QFORM",
												"type": "String"
											},
											"sink": {
												"name": "QFORM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QSURVEY",
												"type": "String"
											},
											"sink": {
												"name": "QSURVEY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QSESSIONFORM",
												"type": "String"
											},
											"sink": {
												"name": "QSESSIONFORM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QSESSIONSURVEY",
												"type": "String"
											},
											"sink": {
												"name": "QSESSIONSURVEY",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "FILE_REQUESTS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TABLE_REQUESTS",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Calculate fields",
							"description": "Update calculated fields (for example, SLA formula, datetime conversions, business hours difference) for time saving in queries",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy requests",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_CALCULATEREQUESTS]"
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL_DB_Procedimentos",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Altera chamado em pausa",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Calculate fields",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_ALTERACHAMADOSPAUSADOS]"
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL_DB_Procedimentos",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update clients",
							"description": "Transport [UNIDADE ATENDIMENTO] field from answers table to requests table, for time saving in queries",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Altera chamado em pausa",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_UPDATEREQUESTCLIENT]"
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL_DB_Procedimentos",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Apoio"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}