pipeline/Chamados Requestia.json
{
	"name": "Chamados Requestia",
	"properties": {
		"activities": [
			{
				"name": "Clear tables",
				"description": "Truncate all Requestia's tables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_TRUNCATEREQUESTS]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy sessions",
				"description": "Copy sessions data from CSV (stored on Power BI Gateway VM) to Azure SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Clear tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "QSESSION",
									"type": "String"
								},
								"sink": {
									"name": "QSESSION",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "QSESSIONTITLE",
									"type": "String"
								},
								"sink": {
									"name": "QSESSIONTITLE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "QCLIENT",
									"type": "String"
								},
								"sink": {
									"name": "QCLIENT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "QFORM",
									"type": "String"
								},
								"sink": {
									"name": "QFORM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "QVERSION",
									"type": "String"
								},
								"sink": {
									"name": "QVERSION",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "QSTATUS",
									"type": "String"
								},
								"sink": {
									"name": "QSTATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "QANSWERDATE",
									"type": "String"
								},
								"sink": {
									"name": "QANSWERDATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "QEXPDATE",
									"type": "String"
								},
								"sink": {
									"name": "QEXPDATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "QAPPLICATION",
									"type": "String"
								},
								"sink": {
									"name": "QAPPLICATION",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "QSURVEYTYPE",
									"type": "String"
								},
								"sink": {
									"name": "QSURVEYTYPE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "REQLOCATION",
									"type": "String"
								},
								"sink": {
									"name": "REQLOCATION",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "FILE_QSESSION",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TABLE_QSESSION",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy answers",
				"description": "Copy answers data from CSV (stored on Power BI Gateway VM) to Azure SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Clear tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "QSESSION",
									"type": "String"
								},
								"sink": {
									"name": "QSESSION",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "QUESTION",
									"type": "String"
								},
								"sink": {
									"name": "QUESTION",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "QANSWER",
									"type": "String"
								},
								"sink": {
									"name": "QANSWER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "QANSWERED",
									"type": "String"
								},
								"sink": {
									"name": "QANSWERED",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "QANSWERDATE",
									"type": "String"
								},
								"sink": {
									"name": "QANSWERDATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "QSHOW",
									"type": "String"
								},
								"sink": {
									"name": "QSHOW",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "QORDER",
									"type": "String"
								},
								"sink": {
									"name": "QORDER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "QUPDATED",
									"type": "String"
								},
								"sink": {
									"name": "QUPDATED",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "FILE_QANSWER",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TABLE_QANSWER",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update clients",
				"description": "Transport [UNIDADE ATENDIMENTO] field from answers table to requests table, for time saving in queries",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy answers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UPDATEREQUESTCLIENT]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy table answers",
				"description": "Copy anwers table data from CSV (stored on Power BI Gateway VM) to Azure SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Clear tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "QSESSION",
									"type": "String"
								},
								"sink": {
									"name": "QSESSION",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TABLE_NAME",
									"type": "String"
								},
								"sink": {
									"name": "TABLE_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TABLE_ROWID",
									"type": "String"
								},
								"sink": {
									"name": "TABLE_ROWID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TABLE_ROWNUM",
									"type": "String"
								},
								"sink": {
									"name": "TABLE_ROWNUM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "COLUMN_NAME",
									"type": "String"
								},
								"sink": {
									"name": "COLUMN_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "COLUMN_VALUE",
									"type": "String"
								},
								"sink": {
									"name": "COLUMN_VALUE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "COLUMN_POSITION",
									"type": "String"
								},
								"sink": {
									"name": "COLUMN_POSITION",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "COLUMN_ANSWERED",
									"type": "String"
								},
								"sink": {
									"name": "COLUMN_ANSWERED",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "COLUMN_ANSWERDATE",
									"type": "String"
								},
								"sink": {
									"name": "COLUMN_ANSWERDATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "COLUMN_UPDATED",
									"type": "String"
								},
								"sink": {
									"name": "COLUMN_UPDATED",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "COLUMN_VISIBLE",
									"type": "String"
								},
								"sink": {
									"name": "COLUMN_VISIBLE",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "FILE_QTABLEANSWER",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TABLE_QTABLEANSWER",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Check request file exists",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Clear tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "FILE_REQUESTS",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Request file exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check request file exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\nactivity('Check request file exists').output.exists, \ntrue)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send requests failure",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "sergio.queiroz@opty.com.br",
									"Subject": "Arquivo Requestia\\requests n達o encontrado!",
									"ErrorMessage": "O arquivo Requestia\\requests n達o foi encontrado",
									"MasterPipeline": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy requests",
							"description": "Copy requests data from CSV (stored on Power BI Gateway VM) to Azure SQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "REQUEST",
												"type": "String"
											},
											"sink": {
												"name": "REQUEST",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CLIENT",
												"type": "String"
											},
											"sink": {
												"name": "CLIENT"
											}
										},
										{
											"source": {
												"name": "OPENDATE",
												"type": "String"
											},
											"sink": {
												"name": "OPENDATE"
											}
										},
										{
											"source": {
												"name": "CLOSEDATE",
												"type": "String"
											},
											"sink": {
												"name": "CLOSEDATE"
											}
										},
										{
											"source": {
												"name": "LASTACTION",
												"type": "String"
											},
											"sink": {
												"name": "LASTACTION"
											}
										},
										{
											"source": {
												"name": "LASTANALYST",
												"type": "String"
											},
											"sink": {
												"name": "LASTANALYST"
											}
										},
										{
											"source": {
												"name": "LASTREOPEN",
												"type": "String"
											},
											"sink": {
												"name": "LASTREOPEN"
											}
										},
										{
											"source": {
												"name": "RESLREMAINS",
												"type": "String"
											},
											"sink": {
												"name": "RESLREMAINS"
											}
										},
										{
											"source": {
												"name": "RESPMINS",
												"type": "String"
											},
											"sink": {
												"name": "RESPMINS"
											}
										},
										{
											"source": {
												"name": "RESLMINS",
												"type": "String"
											},
											"sink": {
												"name": "RESLMINS"
											}
										},
										{
											"source": {
												"name": "CLOSED",
												"type": "String"
											},
											"sink": {
												"name": "CLOSED"
											}
										},
										{
											"source": {
												"name": "ORIGANAL",
												"type": "String"
											},
											"sink": {
												"name": "ORIGANAL"
											}
										},
										{
											"source": {
												"name": "CURRANAL",
												"type": "String"
											},
											"sink": {
												"name": "CURRANAL"
											}
										},
										{
											"source": {
												"name": "GROUPANAL",
												"type": "String"
											},
											"sink": {
												"name": "GROUPANAL"
											}
										},
										{
											"source": {
												"name": "LASTANAL",
												"type": "String"
											},
											"sink": {
												"name": "LASTANAL"
											}
										},
										{
											"source": {
												"name": "LASTANLGRP",
												"type": "String"
											},
											"sink": {
												"name": "LASTANLGRP"
											}
										},
										{
											"source": {
												"name": "ORIGGROUP",
												"type": "String"
											},
											"sink": {
												"name": "ORIGGROUP"
											}
										},
										{
											"source": {
												"name": "CURRGROUP",
												"type": "String"
											},
											"sink": {
												"name": "CURRGROUP"
											}
										},
										{
											"source": {
												"name": "LASTGROUP",
												"type": "String"
											},
											"sink": {
												"name": "LASTGROUP"
											}
										},
										{
											"source": {
												"name": "CATEGORY",
												"type": "String"
											},
											"sink": {
												"name": "CATEGORY"
											}
										},
										{
											"source": {
												"name": "PRODUCT",
												"type": "String"
											},
											"sink": {
												"name": "PRODUCT"
											}
										},
										{
											"source": {
												"name": "PROCESS",
												"type": "String"
											},
											"sink": {
												"name": "PROCESS"
											}
										},
										{
											"source": {
												"name": "RSTATUS",
												"type": "String"
											},
											"sink": {
												"name": "RSTATUS"
											}
										},
										{
											"source": {
												"name": "RPRIORITY",
												"type": "String"
											},
											"sink": {
												"name": "RPRIORITY"
											}
										},
										{
											"source": {
												"name": "REQTYPE",
												"type": "String"
											},
											"sink": {
												"name": "REQTYPE"
											}
										},
										{
											"source": {
												"name": "REQSOURCE",
												"type": "String"
											},
											"sink": {
												"name": "REQSOURCE"
											}
										},
										{
											"source": {
												"name": "LOCATION",
												"type": "String"
											},
											"sink": {
												"name": "REQLOCATION"
											}
										},
										{
											"source": {
												"name": "ORGUNIT",
												"type": "String"
											},
											"sink": {
												"name": "ORGUNIT"
											}
										},
										{
											"source": {
												"name": "ORGUNIT_ROOT",
												"type": "String"
											},
											"sink": {
												"name": "ORGUNIT_ROOT"
											}
										},
										{
											"source": {
												"name": "ABSTRACT",
												"type": "String"
											},
											"sink": {
												"name": "ABSTRACT"
											}
										},
										{
											"source": {
												"name": "DESCRIPT",
												"type": "String"
											},
											"sink": {
												"name": "DESCRIPT"
											}
										},
										{
											"source": {
												"name": "LASTSTATUS",
												"type": "String"
											},
											"sink": {
												"name": "LASTSTATUS"
											}
										},
										{
											"source": {
												"name": "LASTPRIORITY",
												"type": "String"
											},
											"sink": {
												"name": "LASTPRIORITY"
											}
										},
										{
											"source": {
												"name": "LASTACTIONATEND",
												"type": "String"
											},
											"sink": {
												"name": "LASTACTIONATEND"
											}
										},
										{
											"source": {
												"name": "RESPDATE",
												"type": "String"
											},
											"sink": {
												"name": "RESPDATE"
											}
										},
										{
											"source": {
												"name": "RESPTIME",
												"type": "String"
											},
											"sink": {
												"name": "RESPTIME"
											}
										},
										{
											"source": {
												"name": "RESLTIME",
												"type": "String"
											},
											"sink": {
												"name": "RESLTIME"
											}
										},
										{
											"source": {
												"name": "RESPREMAINS"
											},
											"sink": {
												"name": "RESPREMAINS"
											}
										},
										{
											"source": {
												"name": "RESPMODE",
												"type": "String"
											},
											"sink": {
												"name": "RESPMODE"
											}
										},
										{
											"source": {
												"name": "RESLMODE",
												"type": "String"
											},
											"sink": {
												"name": "RESLMODE"
											}
										},
										{
											"source": {
												"name": "NOCOMPUTE",
												"type": "String"
											},
											"sink": {
												"name": "NOCOMPUTE"
											}
										},
										{
											"source": {
												"name": "APROVANLTYPE",
												"type": "String"
											},
											"sink": {
												"name": "APROVANLTYPE"
											}
										},
										{
											"source": {
												"name": "APROVCLITYPE",
												"type": "String"
											},
											"sink": {
												"name": "APROVCLITYPE"
											}
										},
										{
											"source": {
												"name": "MLEVELAPROV",
												"type": "String"
											},
											"sink": {
												"name": "MLEVELAPROV"
											}
										},
										{
											"source": {
												"name": "CLIENTAPROV",
												"type": "String"
											},
											"sink": {
												"name": "CLIENTAPROV"
											}
										},
										{
											"source": {
												"name": "PACKAGE",
												"type": "String"
											},
											"sink": {
												"name": "PACKAGE"
											}
										},
										{
											"source": {
												"name": "WORKFLOW",
												"type": "String"
											},
											"sink": {
												"name": "WORKFLOW"
											}
										},
										{
											"source": {
												"name": "LASTSEVENT",
												"type": "String"
											},
											"sink": {
												"name": "LASTSEVENT"
											}
										},
										{
											"source": {
												"name": "REQWORKFLOW",
												"type": "String"
											},
											"sink": {
												"name": "REQWORKFLOW"
											}
										},
										{
											"source": {
												"name": "ORIGCATEGORY",
												"type": "String"
											},
											"sink": {
												"name": "ORIGCATEGORY"
											}
										},
										{
											"source": {
												"name": "ORIGPRODUCT",
												"type": "String"
											},
											"sink": {
												"name": "ORIGPRODUCT"
											}
										},
										{
											"source": {
												"name": "ORIGPROCESS",
												"type": "String"
											},
											"sink": {
												"name": "ORIGPROCESS"
											}
										},
										{
											"source": {
												"name": "TOTALATTACH",
												"type": "String"
											},
											"sink": {
												"name": "TOTALATTACH"
											}
										},
										{
											"source": {
												"name": "TOTALATTACHACT",
												"type": "String"
											},
											"sink": {
												"name": "TOTALATTACHACT"
											}
										},
										{
											"source": {
												"name": "INSERTDATE",
												"type": "String"
											},
											"sink": {
												"name": "INSERTDATE"
											}
										},
										{
											"source": {
												"name": "QFORM",
												"type": "String"
											},
											"sink": {
												"name": "QFORM"
											}
										},
										{
											"source": {
												"name": "QSURVEY",
												"type": "String"
											},
											"sink": {
												"name": "QSURVEY"
											}
										},
										{
											"source": {
												"name": "QSESSIONFORM",
												"type": "String"
											},
											"sink": {
												"name": "QSESSIONFORM"
											}
										},
										{
											"source": {
												"name": "QSESSIONSURVEY",
												"type": "String"
											},
											"sink": {
												"name": "QSESSIONSURVEY"
											}
										},
										{
											"source": {
												"name": "REQUESTFLAGS",
												"type": "String"
											},
											"sink": {
												"name": "REQUESTFLAGS"
											}
										},
										{
											"source": {
												"name": "V_ASSOCIATION",
												"type": "String"
											},
											"sink": {
												"name": "V_ASSOCIATION"
											}
										},
										{
											"source": {
												"name": "V_HAS_APPROVER",
												"type": "String"
											},
											"sink": {
												"name": "V_HAS_APPROVER"
											}
										},
										{
											"source": {
												"name": "LASTSEQUENCE",
												"type": "String"
											},
											"sink": {
												"name": "LASTSEQUENCE"
											}
										},
										{
											"source": {
												"name": "LASTRECALCDATE",
												"type": "String"
											},
											"sink": {
												"name": "LASTRECALCDATE"
											}
										},
										{
											"source": {
												"name": "LASTAPPROVCNTX",
												"type": "String"
											},
											"sink": {
												"name": "LASTAPPROVCNTX"
											}
										},
										{
											"source": {
												"name": "LASTAPPROVUSER",
												"type": "String"
											},
											"sink": {
												"name": "LASTAPPROVUSER"
											}
										},
										{
											"source": {
												"name": "LASTAPPROVCODE",
												"type": "String"
											},
											"sink": {
												"name": "LASTAPPROVCODE"
											}
										},
										{
											"source": {
												"name": "CURRAPPROVCODE",
												"type": "String"
											},
											"sink": {
												"name": "CURRAPPROVCODE"
											}
										},
										{
											"source": {
												"name": "ORIGNOCOMPUTE",
												"type": "String"
											},
											"sink": {
												"name": "ORIGNOCOMPUTE"
											}
										},
										{
											"source": {
												"name": "ORIGRSTATUS",
												"type": "String"
											},
											"sink": {
												"name": "ORIGRSTATUS"
											}
										},
										{
											"source": {
												"name": "ORIGRPRIORITY",
												"type": "String"
											},
											"sink": {
												"name": "ORIGRPRIORITY"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "FILE_REQUESTS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TABLE_REQUESTS",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Calculate fields",
							"description": "Update calculated fields (for example, SLA formula, datetime conversions, business hours difference) for time saving in queries",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy requests",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_CALCULATEREQUESTS]"
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL_DB_Procedimentos",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Check sessions file exists",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Clear tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "FILE_QSESSION",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Session file exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check sessions file exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\nactivity('Check sessions file exists').output.exists, \ntrue)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send session failure",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "sergio.queiroz@opty.com.br",
									"Subject": "Arquivo Requestia\\QSESSION n達o encontrado!",
									"ErrorMessage": "O arquivo Requestia\\QSESSION n達o foi encontrado",
									"MasterPipeline": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy sessions",
							"description": "Copy sessions data from CSV (stored on Power BI Gateway VM) to Azure SQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "QSESSION",
												"type": "String"
											},
											"sink": {
												"name": "QSESSION",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QSESSIONTITLE",
												"type": "String"
											},
											"sink": {
												"name": "QSESSIONTITLE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QCLIENT",
												"type": "String"
											},
											"sink": {
												"name": "QCLIENT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QFORM",
												"type": "String"
											},
											"sink": {
												"name": "QFORM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QVERSION",
												"type": "String"
											},
											"sink": {
												"name": "QVERSION",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QSTATUS",
												"type": "String"
											},
											"sink": {
												"name": "QSTATUS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QANSWERDATE",
												"type": "String"
											},
											"sink": {
												"name": "QANSWERDATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QEXPDATE",
												"type": "String"
											},
											"sink": {
												"name": "QEXPDATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QAPPLICATION",
												"type": "String"
											},
											"sink": {
												"name": "QAPPLICATION",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QSURVEYTYPE",
												"type": "String"
											},
											"sink": {
												"name": "QSURVEYTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REQLOCATION",
												"type": "String"
											},
											"sink": {
												"name": "REQLOCATION",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "FILE_QSESSION",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TABLE_QSESSION",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Apoio"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}