pipeline/Filas por hora.json
{
	"name": "Filas por hora",
	"properties": {
		"activities": [
			{
				"name": "Start",
				"description": "Step added to paralellize execution",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Check HOB file exists",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "HOB_CSV_NC_FilasPorHora",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "HOB file exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check HOB file exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\nactivity('Check HOB file exists').output.exists, \ntrue)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send HOB failure",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "sergio.queiroz@opty.com.br",
									"Subject": "Arquivo Nexcore\\HOB não encontrado!",
									"ErrorMessage": "O arquivo HOB\\FilasHora não foi encontrado",
									"MasterPipeline": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy HOB filas hora",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Fila",
												"type": "String"
											},
											"sink": {
												"name": "Fila",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Intervalo",
												"type": "String"
											},
											"sink": {
												"name": "Intervalo",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Atendidas Ate NS",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas_Ate_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Atendidas Apos NS",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas_Apos_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Atendidas",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Ate NS",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Ate_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Apos NS",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Apos_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Anuncio Inicial",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Anuncio_Inicial",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Timeout",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Timeout",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Cheia",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Cheia",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Vazia",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Vazia",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Sem Ags. Disp.",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Sem_Ags_Disp",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Caixa Postal",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Caixa_Postal",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Antes",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Antes",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Intervalo",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Intervalo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Depois",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Depois",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Total Recebidas",
												"type": "String"
											},
											"sink": {
												"name": "Total_Recebidas",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Callback Tratados",
												"type": "String"
											},
											"sink": {
												"name": "Callback_Tratados",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Callback Nao Tratados",
												"type": "String"
											},
											"sink": {
												"name": "Callback_Nao_Tratados",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Callback",
												"type": "String"
											},
											"sink": {
												"name": "Callback",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Tempo Toque",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Toque",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Falado",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Falado",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Falado",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Falado",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Pausa ACW",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Pausa_ACW",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Produtivo AHT",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Produtivo_AHT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Nivel Servico",
												"type": "String"
											},
											"sink": {
												"name": "Nivel_Servico",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Taxa Atendimento",
												"type": "String"
											},
											"sink": {
												"name": "Taxa_Atendimento",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Taxa Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Taxa_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Espera",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Espera",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio para Atender",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_para_Atender",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total para Atender",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_para_Atender",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio para Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_para_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total para Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_para_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total Espera",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_Espera",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Agentes Logados - Minimo",
												"type": "String"
											},
											"sink": {
												"name": "Agentes_Logados_Minimo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Agentes Logados - Maximo",
												"type": "String"
											},
											"sink": {
												"name": "Agentes_Logados_Maximo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera - Minimo",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Minimo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera - Medio",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Medio",
												"type": "Double"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera = Maximo",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Maximo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Marca",
												"type": "String"
											},
											"sink": {
												"name": "MARCA",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "HOB_CSV_NC_FilasPorHora",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AZSQL_TB_NC_FilasPorHoras",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Check HOSAG file exists",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "HOSAG_CSV_NC_FilasPorHora",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "HOSAG file exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check HOSAG file exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\nactivity('Check HOSAG file exists').output.exists, \ntrue)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send HOSAG failure",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "sergio.queiroz@opty.com.br",
									"Subject": "Arquivo Nexcore\\HOSAG não encontrado!",
									"ErrorMessage": "O arquivo HOSAG\\FilasHora não foi encontrado",
									"MasterPipeline": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy HOSAG filas horas",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Fila",
												"type": "String"
											},
											"sink": {
												"name": "Fila",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Intervalo",
												"type": "String"
											},
											"sink": {
												"name": "Intervalo",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Atendidas Ate NS",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas_Ate_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Atendidas Apos NS",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas_Apos_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Atendidas",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Ate NS",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Ate_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Apos NS",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Apos_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Anuncio Inicial",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Anuncio_Inicial",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Timeout",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Timeout",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Cheia",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Cheia",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Vazia",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Vazia",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Sem Ags. Disp.",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Sem_Ags_Disp",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Caixa Postal",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Caixa_Postal",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Antes",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Antes",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Intervalo",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Intervalo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Depois",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Depois",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Total Recebidas",
												"type": "String"
											},
											"sink": {
												"name": "Total_Recebidas",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Callback Tratados",
												"type": "String"
											},
											"sink": {
												"name": "Callback_Tratados",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Callback Nao Tratados",
												"type": "String"
											},
											"sink": {
												"name": "Callback_Nao_Tratados",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Callback",
												"type": "String"
											},
											"sink": {
												"name": "Callback",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Tempo Toque",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Toque",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Falado",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Falado",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Falado",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Falado",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Pausa ACW",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Pausa_ACW",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Produtivo AHT",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Produtivo_AHT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Nivel Servico",
												"type": "String"
											},
											"sink": {
												"name": "Nivel_Servico",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Taxa Atendimento",
												"type": "String"
											},
											"sink": {
												"name": "Taxa_Atendimento",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Taxa Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Taxa_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Espera",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Espera",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio para Atender",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_para_Atender",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total para Atender",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_para_Atender",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio para Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_para_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total para Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_para_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total Espera",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_Espera",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Agentes Logados - Minimo",
												"type": "String"
											},
											"sink": {
												"name": "Agentes_Logados_Minimo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Agentes Logados - Maximo",
												"type": "String"
											},
											"sink": {
												"name": "Agentes_Logados_Maximo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera - Minimo",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Minimo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera - Medio",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Medio",
												"type": "Double"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera = Maximo",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Maximo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Marca",
												"type": "String"
											},
											"sink": {
												"name": "MARCA",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "HOSAG_CSV_NC_FilasPorHora",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AZSQL_TB_NC_FilasPorHoras",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Check DH file exists",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DH_CSV_NC_FilasPorHora",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "DH file exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check DH file exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\nactivity('Check DH file exists').output.exists, \ntrue)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send DH failure",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "sergio.queiroz@opty.com.br",
									"Subject": "Arquivo Nexcore\\DH não encontrado!",
									"ErrorMessage": "O arquivo DH\\FilasHora não foi encontrado",
									"MasterPipeline": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy DH filas hora",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Fila",
												"type": "String"
											},
											"sink": {
												"name": "Fila",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Intervalo",
												"type": "String"
											},
											"sink": {
												"name": "Intervalo",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Atendidas Ate NS",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas_Ate_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Atendidas Apos NS",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas_Apos_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Atendidas",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Ate NS",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Ate_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Apos NS",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Apos_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Anuncio Inicial",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Anuncio_Inicial",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Timeout",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Timeout",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Cheia",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Cheia",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Vazia",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Vazia",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Sem Ags. Disp.",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Sem_Ags_Disp",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Caixa Postal",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Caixa_Postal",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Antes",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Antes",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Intervalo",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Intervalo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Depois",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Depois",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Total Recebidas",
												"type": "String"
											},
											"sink": {
												"name": "Total_Recebidas",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Callback Tratados",
												"type": "String"
											},
											"sink": {
												"name": "Callback_Tratados",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Callback Nao Tratados",
												"type": "String"
											},
											"sink": {
												"name": "Callback_Nao_Tratados",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Callback",
												"type": "String"
											},
											"sink": {
												"name": "Callback",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Tempo Toque",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Toque",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Falado",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Falado",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Falado",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Falado",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Pausa ACW",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Pausa_ACW",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Produtivo AHT",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Produtivo_AHT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Nivel Servico",
												"type": "String"
											},
											"sink": {
												"name": "Nivel_Servico",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Taxa Atendimento",
												"type": "String"
											},
											"sink": {
												"name": "Taxa_Atendimento",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Taxa Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Taxa_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Espera",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Espera",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio para Atender",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_para_Atender",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total para Atender",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_para_Atender",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio para Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_para_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total para Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_para_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total Espera",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_Espera",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Agentes Logados - Minimo",
												"type": "String"
											},
											"sink": {
												"name": "Agentes_Logados_Minimo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Agentes Logados - Maximo",
												"type": "String"
											},
											"sink": {
												"name": "Agentes_Logados_Maximo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera - Minimo",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Minimo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera - Medio",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Medio",
												"type": "Double"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera = Maximo",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Maximo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Marca",
												"type": "String"
											},
											"sink": {
												"name": "MARCA",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "DH_CSV_NC_FilasPorHora",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AZSQL_TB_NC_FilasPorHoras",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Check HOSL file exists",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "HOSL_CSV_NC_BilheteLigacoes",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "HOSL file exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check HOSL file exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\nactivity('Check HOSL file exists').output.exists, \ntrue)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send HOSL failure",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "sergio.queiroz@opty.com.br",
									"Subject": "Arquivo Nexcore\\HOSL não encontrado!",
									"ErrorMessage": "O arquivo HOSL\\FilasHora não foi encontrado",
									"MasterPipeline": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy HOSL filas hora",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Fila",
												"type": "String"
											},
											"sink": {
												"name": "Fila",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Intervalo",
												"type": "String"
											},
											"sink": {
												"name": "Intervalo",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Atendidas Ate NS",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas_Ate_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Atendidas Apos NS",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas_Apos_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Atendidas",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Ate NS",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Ate_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Apos NS",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Apos_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Anuncio Inicial",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Anuncio_Inicial",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Timeout",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Timeout",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Cheia",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Cheia",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Vazia",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Vazia",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Sem Ags. Disp.",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Sem_Ags_Disp",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Caixa Postal",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Caixa_Postal",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Antes",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Antes",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Intervalo",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Intervalo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Depois",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Depois",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Total Recebidas",
												"type": "String"
											},
											"sink": {
												"name": "Total_Recebidas",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Callback Tratados",
												"type": "String"
											},
											"sink": {
												"name": "Callback_Tratados",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Callback Nao Tratados",
												"type": "String"
											},
											"sink": {
												"name": "Callback_Nao_Tratados",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Callback",
												"type": "String"
											},
											"sink": {
												"name": "Callback",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Tempo Toque",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Toque",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Falado",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Falado",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Falado",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Falado",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Pausa ACW",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Pausa_ACW",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Produtivo AHT",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Produtivo_AHT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Nivel Servico",
												"type": "String"
											},
											"sink": {
												"name": "Nivel_Servico",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Taxa Atendimento",
												"type": "String"
											},
											"sink": {
												"name": "Taxa_Atendimento",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Taxa Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Taxa_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Espera",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Espera",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio para Atender",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_para_Atender",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total para Atender",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_para_Atender",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio para Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_para_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total para Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_para_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total Espera",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_Espera",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Agentes Logados - Minimo",
												"type": "String"
											},
											"sink": {
												"name": "Agentes_Logados_Minimo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Agentes Logados - Maximo",
												"type": "String"
											},
											"sink": {
												"name": "Agentes_Logados_Maximo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera - Minimo",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Minimo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera - Medio",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Medio",
												"type": "Double"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera = Maximo",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Maximo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Marca",
												"type": "String"
											},
											"sink": {
												"name": "MARCA",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "HOSL_CSV_NC_FilasPorHora",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AZSQL_TB_NC_FilasPorHoras",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Check INOB file exists",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "INOB_CSV_NC_FilasPorHora",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "INOB file exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check INOB file exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\nactivity('Check INOB file exists').output.exists, \ntrue)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send INOB failure",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "sergio.queiroz@opty.com.br",
									"Subject": "Arquivo Nexcore\\INOB não encontrado!",
									"ErrorMessage": "O arquivo INOB\\FilasHoras não foi encontrado",
									"MasterPipeline": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy INOB filas horas",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Fila",
												"type": "String"
											},
											"sink": {
												"name": "Fila",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Intervalo",
												"type": "String"
											},
											"sink": {
												"name": "Intervalo",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Atendidas Ate NS",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas_Ate_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Atendidas Apos NS",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas_Apos_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Atendidas",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Ate NS",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Ate_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Apos NS",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Apos_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Anuncio Inicial",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Anuncio_Inicial",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Timeout",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Timeout",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Cheia",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Cheia",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Vazia",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Vazia",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Sem Ags. Disp.",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Sem_Ags_Disp",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Caixa Postal",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Caixa_Postal",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Antes",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Antes",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Intervalo",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Intervalo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Depois",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Depois",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Total Recebidas",
												"type": "String"
											},
											"sink": {
												"name": "Total_Recebidas",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Callback Tratados",
												"type": "String"
											},
											"sink": {
												"name": "Callback_Tratados",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Callback Nao Tratados",
												"type": "String"
											},
											"sink": {
												"name": "Callback_Nao_Tratados"
											}
										},
										{
											"source": {
												"name": "Callback",
												"type": "String"
											},
											"sink": {
												"name": "Callback",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Tempo Toque",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Toque",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Falado",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Falado",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Falado",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Falado",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Pausa ACW",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Pausa_ACW",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Produtivo AHT",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Produtivo_AHT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Nivel Servico",
												"type": "String"
											},
											"sink": {
												"name": "Nivel_Servico",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Taxa Atendimento",
												"type": "String"
											},
											"sink": {
												"name": "Taxa_Atendimento",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Taxa Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Taxa_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Espera",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Espera",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio para Atender",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_para_Atender",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total para Atender",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_para_Atender",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio para Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_para_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total para Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_para_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total Espera",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_Espera",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Agentes Logados - Minimo",
												"type": "String"
											},
											"sink": {
												"name": "Agentes_Logados_Minimo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Agentes Logados - Maximo",
												"type": "String"
											},
											"sink": {
												"name": "Agentes_Logados_Maximo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera - Minimo",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Minimo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera - Medio",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Medio",
												"type": "Double"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera = Maximo",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Maximo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Marca",
												"type": "String"
											},
											"sink": {
												"name": "MARCA",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "INOB_CSV_NC_FilasPorHora",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AZSQL_TB_NC_FilasPorHoras",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Check CSI file exists",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CSI_CSV_NC_FilasporHora",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "CSI file exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check CSI file exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\nactivity('Check CSI file exists').output.exists, \ntrue)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send failure CSI",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "sergio.queiroz@opty.com.br",
									"Subject": "Arquivo Nexcore\\INOB não encontrado!",
									"ErrorMessage": "O arquivo INOB\\Agentes por Dia não foi encontrado",
									"MasterPipeline": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy CSI FilasPorHora",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Fila",
												"type": "String"
											},
											"sink": {
												"name": "Fila",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Intervalo",
												"type": "String"
											},
											"sink": {
												"name": "Intervalo",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Atendidas Ate NS",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas_Ate_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Atendidas Apos NS",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas_Apos_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Atendidas",
												"type": "String"
											},
											"sink": {
												"name": "Atendidas",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Ate NS",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Ate_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Apos NS",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Apos_NS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos Anuncio Inicial",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos_Anuncio_Inicial",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Abandonos",
												"type": "String"
											},
											"sink": {
												"name": "Abandonos",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Timeout",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Timeout",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Cheia",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Cheia",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Vazia",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Vazia",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Fila Sem Ags. Disp.",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Fila_Sem_Ags_Disp",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos Caixa Postal",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos_Caixa_Postal",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Roteamentos",
												"type": "String"
											},
											"sink": {
												"name": "Roteamentos",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Antes",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Antes",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Intervalo",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Intervalo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario Depois",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario_Depois",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Fora Horario",
												"type": "String"
											},
											"sink": {
												"name": "Fora_Horario",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Total Recebidas",
												"type": "String"
											},
											"sink": {
												"name": "Total_Recebidas",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Callback Tratados",
												"type": "String"
											},
											"sink": {
												"name": "Callback_Tratados",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Callback Nao Tratados",
												"type": "String"
											},
											"sink": {
												"name": "Callback_Nao_Tratados",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Callback",
												"type": "String"
											},
											"sink": {
												"name": "Callback",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Tempo Toque",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Toque",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Falado",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Falado",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Falado",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Falado",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Pausa ACW",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Pausa_ACW",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Produtivo AHT",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Produtivo_AHT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Nivel Servico",
												"type": "String"
											},
											"sink": {
												"name": "Nivel_Servico",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Taxa Atendimento",
												"type": "String"
											},
											"sink": {
												"name": "Taxa_Atendimento",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "% Taxa Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Taxa_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio Espera",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_Espera",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio para Atender",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_para_Atender",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total para Atender",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_para_Atender",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Medio para Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Medio_para_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total para Abandono",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_para_Abandono",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tempo Total Espera",
												"type": "String"
											},
											"sink": {
												"name": "Tempo_Total_Espera",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Agentes Logados - Minimo",
												"type": "String"
											},
											"sink": {
												"name": "Agentes_Logados_Minimo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Agentes Logados - Maximo",
												"type": "String"
											},
											"sink": {
												"name": "Agentes_Logados_Maximo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera - Minimo",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Minimo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera - Medio",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Medio",
												"type": "Double"
											}
										},
										{
											"source": {
												"name": "Chamadas em Espera = Maximo",
												"type": "String"
											},
											"sink": {
												"name": "Chamadas_em_Espera_Maximo",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Marca",
												"type": "String"
											},
											"sink": {
												"name": "MARCA",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "CSI_CSV_NC_FilasporHora",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AZSQL_TB_NC_FilasPorHoras",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Atendimento"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}