pipeline/Historico Bilhetes CSI.json
{
	"name": "Historico Bilhetes CSI",
	"properties": {
		"activities": [
			{
				"name": "Start",
				"description": "Step added to paralellize execution",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Check CSI file exists",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CSI_CSV_NC_BilhetesLigacoes",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "CSI file exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check CSI file exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\nactivity('Check CSI file exists').output.exists, \ntrue)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send failure CSI",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "sergio.queiroz@opty.com.br",
									"Subject": "Arquivo Nexcore\\INOB não encontrado!",
									"ErrorMessage": "O arquivo INOB\\Agentes por Dia não foi encontrado",
									"MasterPipeline": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy CSI BilheteLigacoes",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"wildcardFileName": "*"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false
							},
							"inputs": [
								{
									"referenceName": "CSI_CSV_NC_BilhetesLigacoes_HIST",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AZSQL_TB_NC_BilheteLigacoes_Hist",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}