OptyADF/PartialArmTemplates/ArmTemplate_8_15_2019_9_40_41.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "OptyADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Tickets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy tickets",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clear table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "REQUEST",
											"type": "String"
										},
										"sink": {
											"name": "REQUEST",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLIENT",
											"type": "String"
										},
										"sink": {
											"name": "CLIENT"
										}
									},
									{
										"source": {
											"name": "OPENDATE",
											"type": "String"
										},
										"sink": {
											"name": "OPENDATE"
										}
									},
									{
										"source": {
											"name": "CLOSEDATE",
											"type": "String"
										},
										"sink": {
											"name": "CLOSEDATE"
										}
									},
									{
										"source": {
											"name": "LASTACTION",
											"type": "String"
										},
										"sink": {
											"name": "LASTACTION"
										}
									},
									{
										"source": {
											"name": "LASTANALYST",
											"type": "String"
										},
										"sink": {
											"name": "LASTANALYST"
										}
									},
									{
										"source": {
											"name": "LASTREOPEN",
											"type": "String"
										},
										"sink": {
											"name": "LASTREOPEN"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "FILE_REQUESTS",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TABLE_REQUESTS",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Clear table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_TRUNCATEREQUESTS]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQL_DB_Procedimentos",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Calculate fields",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy tickets",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_CALCULATEREQUESTS]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQL_DB_Procedimentos",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Requestia"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FILE_REQUESTS')]",
				"[concat(variables('factoryId'), '/datasets/TABLE_REQUESTS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FILE_REQUESTS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Folder_Requestia",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Requestia"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "request.csv"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "REQUEST",
						"type": "String"
					},
					{
						"name": "CLIENT",
						"type": "String"
					},
					{
						"name": "ORIGANAL",
						"type": "String"
					},
					{
						"name": "CURRANAL",
						"type": "String"
					},
					{
						"name": "GROUPANAL",
						"type": "String"
					},
					{
						"name": "LASTANAL",
						"type": "String"
					},
					{
						"name": "LASTANLGRP",
						"type": "String"
					},
					{
						"name": "ORIGGROUP",
						"type": "String"
					},
					{
						"name": "CURRGROUP",
						"type": "String"
					},
					{
						"name": "LASTGROUP",
						"type": "String"
					},
					{
						"name": "GRGROUP",
						"type": "String"
					},
					{
						"name": "CATEGORY",
						"type": "String"
					},
					{
						"name": "PRODUCT",
						"type": "String"
					},
					{
						"name": "PROCESS",
						"type": "String"
					},
					{
						"name": "PROBLEM",
						"type": "String"
					},
					{
						"name": "RSTATUS",
						"type": "String"
					},
					{
						"name": "RPRIORITY",
						"type": "String"
					},
					{
						"name": "REQTYPE",
						"type": "String"
					},
					{
						"name": "REQSOURCE",
						"type": "String"
					},
					{
						"name": "LOCATION",
						"type": "String"
					},
					{
						"name": "ORGUNIT",
						"type": "String"
					},
					{
						"name": "ORGUNIT_ROOT",
						"type": "String"
					},
					{
						"name": "CHARGE",
						"type": "String"
					},
					{
						"name": "SLEVEL",
						"type": "String"
					},
					{
						"name": "EQUIP",
						"type": "String"
					},
					{
						"name": "RESOURCEID",
						"type": "String"
					},
					{
						"name": "REQUESTOR",
						"type": "String"
					},
					{
						"name": "ABSTRACT",
						"type": "String"
					},
					{
						"name": "DESCRIPT",
						"type": "String"
					},
					{
						"name": "OPENDATE",
						"type": "String"
					},
					{
						"name": "CLOSEDATE",
						"type": "String"
					},
					{
						"name": "CLOSED",
						"type": "String"
					},
					{
						"name": "LASTACTION",
						"type": "String"
					},
					{
						"name": "LASTANALYST",
						"type": "String"
					},
					{
						"name": "LASTSTATUS",
						"type": "String"
					},
					{
						"name": "LASTPRIORITY",
						"type": "String"
					},
					{
						"name": "LASTREOPEN",
						"type": "String"
					},
					{
						"name": "LASTACTIONATEND",
						"type": "String"
					},
					{
						"name": "LASTACTTYPE",
						"type": "String"
					},
					{
						"name": "REFDATE",
						"type": "String"
					},
					{
						"name": "RESPDATE",
						"type": "String"
					},
					{
						"name": "RESPTIME",
						"type": "String"
					},
					{
						"name": "RESLTIME",
						"type": "String"
					},
					{
						"name": "RESPMINS",
						"type": "String"
					},
					{
						"name": "RESLMINS",
						"type": "String"
					},
					{
						"name": "RESPREMAINS",
						"type": "String"
					},
					{
						"name": "RESLREMAINS",
						"type": "String"
					},
					{
						"name": "RESPMODE",
						"type": "String"
					},
					{
						"name": "RESLMODE",
						"type": "String"
					},
					{
						"name": "NOCOMPUTE",
						"type": "String"
					},
					{
						"name": "RLOCKED",
						"type": "String"
					},
					{
						"name": "ESTIMCOST",
						"type": "String"
					},
					{
						"name": "TOTALCOST",
						"type": "String"
					},
					{
						"name": "APROVANLTYPE",
						"type": "String"
					},
					{
						"name": "APROVANALYST",
						"type": "String"
					},
					{
						"name": "APROVCLITYPE",
						"type": "String"
					},
					{
						"name": "APROVCLIEXACTOUNIT",
						"type": "String"
					},
					{
						"name": "MLEVELAPROV",
						"type": "String"
					},
					{
						"name": "OUNITAPROV",
						"type": "String"
					},
					{
						"name": "CLIENTAPROV",
						"type": "String"
					},
					{
						"name": "PACKAGE",
						"type": "String"
					},
					{
						"name": "PROJECT",
						"type": "String"
					},
					{
						"name": "REQPARENT",
						"type": "String"
					},
					{
						"name": "PAYMETHOD",
						"type": "String"
					},
					{
						"name": "WORKFLOW",
						"type": "String"
					},
					{
						"name": "SEVENT",
						"type": "String"
					},
					{
						"name": "CURRSEVENT",
						"type": "String"
					},
					{
						"name": "LASTSEVENT",
						"type": "String"
					},
					{
						"name": "REQWORKFLOW",
						"type": "String"
					},
					{
						"name": "ORIGCATEGORY",
						"type": "String"
					},
					{
						"name": "ORIGPRODUCT",
						"type": "String"
					},
					{
						"name": "ORIGPROCESS",
						"type": "String"
					},
					{
						"name": "ORIGPROBLEM",
						"type": "String"
					},
					{
						"name": "TIMEZONE",
						"type": "String"
					},
					{
						"name": "ID3PART",
						"type": "String"
					},
					{
						"name": "MQI_PROFILEID",
						"type": "String"
					},
					{
						"name": "MQI_VERIFIED",
						"type": "String"
					},
					{
						"name": "VIEWPROJECT",
						"type": "String"
					},
					{
						"name": "PROJSTARTED",
						"type": "String"
					},
					{
						"name": "TOTALATTACH",
						"type": "String"
					},
					{
						"name": "TOTALATTACHACT",
						"type": "String"
					},
					{
						"name": "INSERTDATE",
						"type": "String"
					},
					{
						"name": "UPDATEDATE",
						"type": "String"
					},
					{
						"name": "QFORM",
						"type": "String"
					},
					{
						"name": "QFORMSCRIPT",
						"type": "String"
					},
					{
						"name": "QSURVEY",
						"type": "String"
					},
					{
						"name": "QSESSIONFORM",
						"type": "String"
					},
					{
						"name": "QSESSIONSURVEY",
						"type": "String"
					},
					{
						"name": "REQUESTFLAGS",
						"type": "String"
					},
					{
						"name": "V_ASSOCIATION",
						"type": "String"
					},
					{
						"name": "V_ID_CONTRACT",
						"type": "String"
					},
					{
						"name": "V_ID_PROJECT",
						"type": "String"
					},
					{
						"name": "V_IS_PROJECT",
						"type": "String"
					},
					{
						"name": "V_HAS_PROJECT",
						"type": "String"
					},
					{
						"name": "V_HAS_APPROVER",
						"type": "String"
					},
					{
						"name": "LASTSEQUENCE",
						"type": "String"
					},
					{
						"name": "PRBPARENT",
						"type": "String"
					},
					{
						"name": "LASTRECALCDATE",
						"type": "String"
					},
					{
						"name": "LASTAPPROVCNTX",
						"type": "String"
					},
					{
						"name": "LASTAPPROVUSER",
						"type": "String"
					},
					{
						"name": "LASTAPPROVCODE",
						"type": "String"
					},
					{
						"name": "CURRAPPROVCODE",
						"type": "String"
					},
					{
						"name": "ORIGNOCOMPUTE",
						"type": "String"
					},
					{
						"name": "ORIGRSTATUS",
						"type": "String"
					},
					{
						"name": "ORIGRPRIORITY",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TABLE_REQUESTS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Requestia"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "REQUEST",
						"type": "varchar"
					},
					{
						"name": "CLIENT",
						"type": "varchar"
					},
					{
						"name": "ORIGANAL",
						"type": "varchar"
					},
					{
						"name": "CURRANAL",
						"type": "varchar"
					},
					{
						"name": "GROUPANAL",
						"type": "varchar"
					},
					{
						"name": "LASTANAL",
						"type": "varchar"
					},
					{
						"name": "LASTANLGRP",
						"type": "varchar"
					},
					{
						"name": "ORIGGROUP",
						"type": "varchar"
					},
					{
						"name": "CURRGROUP",
						"type": "varchar"
					},
					{
						"name": "LASTGROUP",
						"type": "varchar"
					},
					{
						"name": "CATEGORY",
						"type": "varchar"
					},
					{
						"name": "PRODUCT",
						"type": "varchar"
					},
					{
						"name": "PROCESS",
						"type": "varchar"
					},
					{
						"name": "RSTATUS",
						"type": "varchar"
					},
					{
						"name": "RPRIORITY",
						"type": "varchar"
					},
					{
						"name": "REQTYPE",
						"type": "varchar"
					},
					{
						"name": "REQSOURCE",
						"type": "varchar"
					},
					{
						"name": "REQLOCATION",
						"type": "varchar"
					},
					{
						"name": "ORGUNIT",
						"type": "varchar"
					},
					{
						"name": "ORGUNIT_ROOT",
						"type": "varchar"
					},
					{
						"name": "ABSTRACT",
						"type": "varchar"
					},
					{
						"name": "DESCRIPT",
						"type": "varchar"
					},
					{
						"name": "OPENDATE",
						"type": "varchar"
					},
					{
						"name": "CLOSEDATE",
						"type": "varchar"
					},
					{
						"name": "CLOSED",
						"type": "varchar"
					},
					{
						"name": "LASTACTION",
						"type": "varchar"
					},
					{
						"name": "LASTANALYST",
						"type": "varchar"
					},
					{
						"name": "LASTSTATUS",
						"type": "varchar"
					},
					{
						"name": "LASTPRIORITY",
						"type": "varchar"
					},
					{
						"name": "LASTREOPEN",
						"type": "varchar"
					},
					{
						"name": "LASTACTIONATEND",
						"type": "varchar"
					},
					{
						"name": "LASTACTTYPE",
						"type": "varchar"
					},
					{
						"name": "RESPDATE",
						"type": "varchar"
					},
					{
						"name": "RESPTIME",
						"type": "varchar"
					},
					{
						"name": "RESLTIME",
						"type": "varchar"
					},
					{
						"name": "RESPMINS",
						"type": "varchar"
					},
					{
						"name": "RESLMINS",
						"type": "varchar"
					},
					{
						"name": "RESPREMAINS",
						"type": "varchar"
					},
					{
						"name": "RESLREMAINS",
						"type": "varchar"
					},
					{
						"name": "RESPMODE",
						"type": "varchar"
					},
					{
						"name": "RESLMODE",
						"type": "varchar"
					},
					{
						"name": "NOCOMPUTE",
						"type": "varchar"
					},
					{
						"name": "APROVANLTYPE",
						"type": "varchar"
					},
					{
						"name": "APROVCLITYPE",
						"type": "varchar"
					},
					{
						"name": "MLEVELAPROV",
						"type": "varchar"
					},
					{
						"name": "CLIENTAPROV",
						"type": "varchar"
					},
					{
						"name": "PACKAGE",
						"type": "varchar"
					},
					{
						"name": "WORKFLOW",
						"type": "varchar"
					},
					{
						"name": "LASTSEVENT",
						"type": "varchar"
					},
					{
						"name": "REQWORKFLOW",
						"type": "varchar"
					},
					{
						"name": "ORIGCATEGORY",
						"type": "varchar"
					},
					{
						"name": "ORIGPRODUCT",
						"type": "varchar"
					},
					{
						"name": "ORIGPROCESS",
						"type": "varchar"
					},
					{
						"name": "TOTALATTACH",
						"type": "varchar"
					},
					{
						"name": "TOTALATTACHACT",
						"type": "varchar"
					},
					{
						"name": "INSERTDATE",
						"type": "varchar"
					},
					{
						"name": "QFORM",
						"type": "varchar"
					},
					{
						"name": "QSURVEY",
						"type": "varchar"
					},
					{
						"name": "QSESSIONFORM",
						"type": "varchar"
					},
					{
						"name": "QSESSIONSURVEY",
						"type": "varchar"
					},
					{
						"name": "REQUESTFLAGS",
						"type": "varchar"
					},
					{
						"name": "V_ASSOCIATION",
						"type": "varchar"
					},
					{
						"name": "V_HAS_APPROVER",
						"type": "varchar"
					},
					{
						"name": "LASTSEQUENCE",
						"type": "varchar"
					},
					{
						"name": "LASTRECALCDATE",
						"type": "varchar"
					},
					{
						"name": "LASTAPPROVCNTX",
						"type": "varchar"
					},
					{
						"name": "LASTAPPROVUSER",
						"type": "varchar"
					},
					{
						"name": "LASTAPPROVCODE",
						"type": "varchar"
					},
					{
						"name": "CURRAPPROVCODE",
						"type": "varchar"
					},
					{
						"name": "ORIGNOCOMPUTE",
						"type": "varchar"
					},
					{
						"name": "ORIGRSTATUS",
						"type": "varchar"
					},
					{
						"name": "ORIGRPRIORITY",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "REQUESTIA_REQUESTS"
				}
			},
			"dependsOn": []
		}
	]
}