OptyADF/PartialArmTemplates/ArmTemplate_9_10_2019_14_22_58.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "OptyADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Baixa_Titulos_Pagar')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Baixa_Titulos_Pagar",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select a.nr_titulo, \na.nr_sequencia, \na.dt_baixa, \na.vl_pago,\na.vl_descontos,\na.vl_juros,\na.vl_multa,\na.dt_atualizacao,\n(select c.ds_tipo_baixa from TIPO_BAIXA_CPA c where c.cd_tipo_baixa = a.cd_tipo_baixa) as ds_tipo_baixa,\nobter_ds_transacao(a.nr_seq_movto_trans_fin) as ds_transacao\nfrom titulo_pagar_baixa a",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CloudTasyPrdDataSet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AZ_SQL_TB_Baixa_Titulos_Pagar",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Contas a Pagar"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CloudTasyPrdDataSet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Baixas titulos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Baixa titulos HTML5",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select obter_cgc_estabelecimento(R.CD_ESTABELECIMENTO) AS CD_CGC_ESTAB, \nl.nr_titulo, \nl.dt_recebimento, \nl.vl_recebido, \nl.vl_descontos, \nl.vl_juros, \nl.vl_multa, \nl.dt_atualizacao, \nt.ds_tipo_recebimento,\nX.DS_TRANSACAO,\n'' as MARCA,\n'' as SIGLA_UNIDADE\nfrom titulo_receber r,\n     TITULO_RECEBER_LIQ L,\n     tipo_recebimento t,\n     TRANSACAO_FINANCEIRA X\nwhere r.nr_titulo = l.nr_titulo \nand l.cd_tipo_recebimento = t.cd_tipo_recebimento\nAND l.nr_seq_trans_fin = X.NR_SEQUENCIA\nand r.cd_estabelecimento not in (11)\nand rownum < 50",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CloudTasyPrdDataSet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AZ_SQL_TB_Baixa_Titulos_Receber",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Baixa Titulo Sadalla",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select obter_cgc_estabelecimento(R.CD_ESTABELECIMENTO) AS CD_CGC_ESTAB, \nl.nr_titulo, \nl.dt_recebimento, \nl.vl_recebido, \nl.vl_descontos, \nl.vl_juros, \nl.vl_multa, \nl.dt_atualizacao, \nt.ds_tipo_recebimento,\nX.DS_TRANSACAO,\n'' as MARCA,\n'' as SIGLA_UNIDADE\nfrom titulo_receber r,\n     TITULO_RECEBER_LIQ L,\n     tipo_recebimento t,\n     TRANSACAO_FINANCEIRA X\nwhere r.nr_titulo = l.nr_titulo \nand l.cd_tipo_recebimento = t.cd_tipo_recebimento\nAND l.nr_seq_trans_fin = X.NR_SEQUENCIA\nand r.cd_estabelecimento not in (11)\nand rownum < 50",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SadallaTasyPrdDataSet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AZ_SQL_TB_Baixa_Titulos_Receber",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Contas a receber"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CloudTasyPrdDataSet')]",
				"[concat(variables('factoryId'), '/datasets/SadallaTasyPrdDataSet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Procedure_Marca')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Procedure_Marca",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "sp_UPDATETRADEMARKV2",
							"storedProcedureParameters": {
								"CNPJ_FIELDNAME": {
									"value": "cd_cgc_estab",
									"type": "String"
								},
								"INITIALS_FIELDNAME": {
									"value": "SIGLA_UNIDADE",
									"type": "String"
								},
								"MARK_FIELDNAME": {
									"value": "MARCA",
									"type": "String"
								},
								"TABLENAME": {
									"value": "Aging_Baixa_Titulo_Receber",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSQL_DB_Procedimentos",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Contas a receber"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Retornos Tasy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Tasy Sadalla",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tasy HTML5",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT Obter_nome_estab(Obter_estab_atend(m.nr_atendimento))       AS \n       estabelecimento, \n       m.nr_atendimento, \n       n.nr_prontuario, \n       m.cd_pessoa_fisica, \n       n.nm_pessoa_fisica                                          nm_paciente, \n       n.nr_tel, \n       m.cd_medico, \n       m.nm_medico, \n       n.ds_email, \n       m.nr_seq_consulta, \n       substr(to_char(obter_data_entrada(m.nr_atendimento),'dd/mm/yyyy'),1,50) AS data_atendimento,\n       substr(to_char(obter_data_entrada(m.nr_atendimento), 'hh24:mi:ss'),1,50)as hora,\n       obter_valor_dominio(12,obter_tipo_atendimento(m.nr_atendimento)) as tipo_atendimento,\n               \n       (SELECT to_char(a.dt_agenda, 'dd/mm/yyyy')\n        FROM   agenda_consulta a, \n               agenda x \n        WHERE  a.cd_agenda = x.cd_agenda \n               AND trunc(a.dt_agenda) > trunc(obter_data_entrada(m.nr_atendimento))\n               AND a.cd_pessoa_fisica = m.cd_pessoa_fisica \n               AND ROWNUM <= 1) AS \n       agendado_para_dia, \n       \n       substr((\n        SELECT to_char(a.dt_agenda, 'hh24:mi:ss')\n        FROM agenda_consulta a\n            , agenda x\n        WHERE a.cd_agenda = x.cd_agenda\n               AND trunc(a.dt_agenda) > trunc(obter_data_entrada(m.nr_atendimento))\n               AND a.cd_pessoa_fisica = m.cd_pessoa_fisica\n               AND ROWNUM <= 1),1,255) AS agendado_para_hora,\n        \n        (SELECT case when obter_tipo_agenda(a.cd_agenda) = 2 and x.cd_pessoa_fisica is null then 2\n                     when obter_tipo_agenda(a.cd_agenda) = 2 and x.cd_pessoa_fisica is not null then 3\n                     when obter_tipo_agenda(a.cd_agenda) = 1 then 1 end tipo_agenda\n                                  \n        FROM agenda_paciente a\n            , agenda x\n        WHERE a.cd_agenda = x.cd_agenda\n            AND a.dt_agenda > obter_data_entrada(m.nr_atendimento)\n            AND a.cd_pessoa_fisica = m.cd_pessoa_fisica\n            AND ROWNUM <= 1\n            AND a.dt_agenda <> obter_data_entrada(m.nr_atendimento)\n        ) AS tipo_agenda,\n        \n        (SELECT 'Retorno em ' \n               || Lpad(a.qt_periodo, 2, '0') \n               || Decode(a.ie_periodo, 'D', ' Dias', \n                                       a.ie_periodo) ds_periodo \n        FROM   oft_conduta a \n        WHERE  a.nr_seq_consulta = m.nr_seq_consulta \n               AND a.dt_inativacao IS NULL \n               AND a.ie_situacao = 'A' \n               AND a.nr_sequencia = (SELECT Max(nr_sequencia) \n                                     FROM   oft_conduta \n                                     WHERE  nr_seq_consulta = a.nr_seq_consulta) \n        AND a.qt_periodo IS NOT NULL)                       AS retorno_em, \n       \n       (SELECT a.nm_usuario_orig \n        FROM   agenda_paciente a, \n               agenda x \n        WHERE  a.cd_agenda = x.cd_agenda \n               AND a.dt_agenda > Obter_data_entrada(m.nr_atendimento) \n               AND a.cd_pessoa_fisica = m.cd_pessoa_fisica \n               AND Obter_tipo_agenda(a.cd_agenda) = 2 \n               AND ROWNUM <= 1)                                    AS usuario, \n               \n       (SELECT Listagg(Obter_desc_procedimento(b.cd_procedimento, \n                       b.ie_origem_proced) \n                       || ' Quantidade = ' \n                       || b.qt_exame, ' ;') \n                 within GROUP (ORDER BY \n                 Obter_desc_procedimento(b.cd_procedimento, \n                 b.ie_origem_proced)) \n        FROM   pedido_exame_externo_item b \n               inner join proc_interno c \n                       ON c.nr_sequencia = b.nr_proc_interno \n               inner join pedido_exame_externo c \n                       ON c.nr_sequencia = b.nr_seq_pedido \n        WHERE  c.nr_seq_consulta = m.nr_seq_consulta \n               AND c.ie_situacao = 'A')                            AS \n       procedimentos \nFROM   (SELECT a.nr_atendimento, \n               obter_pessoa_atendimento(a.nr_atendimento, 'C') as cd_pessoa_fisica, \n               a.cd_profissional as cd_medico, \n               Obter_nome_pf(a.cd_profissional) nm_medico, \n               a.nr_sequencia             nr_seq_consulta, \n               obter_estab_atend(a.nr_atendimento) as cd_estabelecimento \n        FROM   oft_consulta_medica a \n        WHERE  a.dt_consulta BETWEEN Inicio_dia(SYSDATE - 90) AND Fim_dia( \n                                     SYSDATE)) m \n       inner join (SELECT cd_pessoa_fisica, \n                          nm_pessoa_fisica, \n                          Nvl(Nvl(nr_cel, nr_cel2), nr_tel) nr_tel, \n                          nr_prontuario, \n                          ds_email \n                   FROM   (SELECT x.cd_pessoa_fisica, \n                                  Initcap(x.nm_pessoa_fisica) \n                                          nm_pessoa_fisica, \n                                  x.nr_prontuario, \nRegexp_replace(Regexp_replace(x.nr_telefone_celular, \n               '[^[:digit:]]'), \nDecode( \nLength(Regexp_replace(x.nr_telefone_celular, \n       '[^[:digit:]]')), 8 \n, \nds_reg_8, \n9, \nds_reg_9, \n10, \nds_reg_10, \nds_reg_11) \n, \nDecode(Length(Regexp_replace(x.nr_telefone_celular, \n              '[^[:digit:]]')), 8, \nds_for_8 \n, \n9, \nds_for_9, \n10 \n        , \nds_for_10, \nds_for_11) \n) \n        nr_cel, \nRegexp_replace(Regexp_replace(y.nr_telefone_celular, \n               '[^[:digit:]]'), \nDecode( \nLength(Regexp_replace(y.nr_telefone_celular, \n       '[^[:digit:]]')), 8 \n, \nds_reg_8, \n9, \nds_reg_9, \n10, \nds_reg_10, \nds_reg_11) \n, \nDecode(Length(Regexp_replace(y.nr_telefone_celular, \n              '[^[:digit:]]')), 8, \nds_for_8 \n, \n9, \nds_for_9, \n10 \n        , \nds_for_10, \nds_for_11) \n) \n        nr_cel2, \nRegexp_replace(Regexp_replace(y.nr_telefone, \n               '[^[:digit:]]'), \nDecode(Length(Regexp_replace(y.nr_telefone, \n              '[^[:digit:]]')), 8, \nds_reg_8, \n9, ds_reg_9, \n10, ds_reg_10, \nds_reg_11), \nDecode(Length(Regexp_replace(y.nr_telefone, \n              '[^[:digit:]]')), 8, \nds_for_8, \n9, \nds_for_9, \n10 \n, \nds_for_10, \nds_for_11) \n        ) nr_tel, \ny.ds_email \nFROM   pessoa_fisica x \nleft join compl_pessoa_fisica y \n       ON y.cd_pessoa_fisica = x.cd_pessoa_fisica \n          AND y.ie_tipo_complemento = 1, \n(SELECT '([0-9]{4})([0-9]{4})'           ds_reg_8, \n        '\\1-\\2'                          ds_for_8, \n        '([0-9]{5})([0-9]{4})'           ds_reg_9, \n        '\\1-\\2'                          ds_for_9, \n        '([0-9]{2})([0-9]{4})([0-9]{4})' ds_reg_10, \n        '(\\1) \\2-\\3'                     ds_for_10, \n        '([0-9]{2})([0-9]{5})([0-9]{4})' ds_reg_11, \n        '(\\1) \\2-\\3'                     ds_for_11 \n FROM   dual) z \nWHERE  x.nr_telefone_celular IS NOT NULL \n OR y.nr_telefone_celular IS NOT NULL \n OR y.nr_telefone IS NOT NULL)) n \nON n.cd_pessoa_fisica = m.cd_pessoa_fisica \nWHERE  NOT EXISTS (SELECT a.dt_agenda, \n                          a.cd_pessoa_fisica \n                   FROM   agenda_consulta a \n                   where a.cd_pessoa_fisica = m.cd_pessoa_fisica \n                          AND a.dt_agenda > SYSDATE) ",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ESTABELECIMENTO",
											"type": "String"
										},
										"sink": {
											"name": "ESTABELECIMENTO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NR_ATENDIMENTO",
											"type": "Decimal"
										},
										"sink": {
											"name": "NR_ATENDIMENTO",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "NR_PRONTUARIO",
											"type": "Decimal"
										},
										"sink": {
											"name": "NR_PRONTUARIO",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CD_PESSOA_FISICA",
											"type": "String"
										},
										"sink": {
											"name": "CD_PESSOA_FISICA",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "NM_PACIENTE",
											"type": "String"
										},
										"sink": {
											"name": "NM_PACIENTE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NR_TEL",
											"type": "String"
										},
										"sink": {
											"name": "NR_TEL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_MEDICO",
											"type": "String"
										},
										"sink": {
											"name": "CD_MEDICO",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "NM_MEDICO",
											"type": "String"
										},
										"sink": {
											"name": "NM_MEDICO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_EMAIL",
											"type": "String"
										},
										"sink": {
											"name": "DS_EMAIL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NR_SEQ_CONSULTA",
											"type": "Decimal"
										},
										"sink": {
											"name": "NR_SEQ_CONSULTA",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DATA_ATENDIMENTO",
											"type": "String"
										},
										"sink": {
											"name": "DATA_ATENDIMENTO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "HORA",
											"type": "String"
										},
										"sink": {
											"name": "HORA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TIPO_ATENDIMENTO",
											"type": "String"
										},
										"sink": {
											"name": "TIPO_ATENDIMENTO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AGENDADO_PARA_HORA",
											"type": "String"
										},
										"sink": {
											"name": "AGENDADO_PARA_HORA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AGENDADO_PARA_DIA",
											"type": "String"
										},
										"sink": {
											"name": "AGENDADO_PARA_DIA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TIPO_AGENDA",
											"type": "Double"
										},
										"sink": {
											"name": "TIPO_AGENDA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RETORNO_EM",
											"type": "String"
										},
										"sink": {
											"name": "RETORNO_EM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "USUARIO",
											"type": "String"
										},
										"sink": {
											"name": "USUARIO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PROCEDIMENTOS",
											"type": "String"
										},
										"sink": {
											"name": "PROCEDIMENTOS",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SadallaTasyPrdDataSet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AZSQL_TB_Retornos",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Altera Agendas",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Tasy Sadalla",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_ALTERTIPOAGENDASRETORNOS]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQL_DB_Procedimentos",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Tasy HTML5",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT Obter_nome_estab(Obter_estab_atend(m.nr_atendimento))       AS \n       estabelecimento, \n       m.nr_atendimento, \n       n.nr_prontuario, \n       m.cd_pessoa_fisica, \n       n.nm_pessoa_fisica                                          nm_paciente, \n       n.nr_tel, \n       m.cd_medico, \n       m.nm_medico, \n       n.ds_email, \n       m.nr_seq_consulta, \n       substr(to_char(obter_data_entrada(m.nr_atendimento),'dd/mm/yyyy'),1,50) AS data_atendimento,\n       substr(to_char(obter_data_entrada(m.nr_atendimento), 'hh24:mi:ss'),1,50)as hora,\n       obter_valor_dominio(12,obter_tipo_atendimento(m.nr_atendimento)) as tipo_atendimento,\n       \n        \n       substr((SELECT to_char(a.dt_agenda,'dd/mm/yyyy')\n        FROM   agenda_paciente a, \n               agenda x \n        WHERE  a.cd_agenda = x.cd_agenda \n               AND a.dt_agenda > Obter_data_entrada(m.nr_atendimento) \n               AND a.cd_pessoa_fisica = m.cd_pessoa_fisica \n               AND Obter_tipo_agenda(a.cd_agenda) = 2 \n               AND ROWNUM <= 1),1,50)                                  AS \n       agendado_para_dia, \n       \n       substr((\n        SELECT to_char(a.hr_inicio, 'hh24:mi:ss')\n        FROM agenda_paciente a\n            , agenda x\n        WHERE a.cd_agenda = x.cd_agenda\n               AND a.dt_agenda > obter_data_entrada(m.nr_atendimento)\n               AND a.cd_pessoa_fisica = m.cd_pessoa_fisica\n               AND ROWNUM <= 1\n        ),1,50) AS agendado_para_hora,\n        \n        (SELECT case when obter_tipo_agenda(a.cd_agenda) = 2 and x.cd_pessoa_fisica is null then 2\n                     when obter_tipo_agenda(a.cd_agenda) = 2 and x.cd_pessoa_fisica is not null then 3\n                     when obter_tipo_agenda(a.cd_agenda) = 1 then 1 end tipo_agenda\n                                  \n        FROM agenda_paciente a\n            , agenda x\n        WHERE a.cd_agenda = x.cd_agenda\n            AND a.dt_agenda > obter_data_entrada(m.nr_atendimento)\n            AND a.cd_pessoa_fisica = m.cd_pessoa_fisica\n            AND ROWNUM <= 1\n            AND a.dt_agenda <> obter_data_entrada(m.nr_atendimento)\n        ) AS tipo_agenda,\n        \n        (SELECT 'Retorno em ' \n               || Lpad(a.qt_periodo, 2, '0') \n               || Decode(a.ie_periodo, 'D', ' Dias', \n                                       a.ie_periodo) ds_periodo \n        FROM   oft_conduta a \n        WHERE  a.nr_seq_consulta = m.nr_seq_consulta \n               AND a.dt_inativacao IS NULL \n               AND a.ie_situacao = 'A' \n               AND a.nr_sequencia = (SELECT Max(nr_sequencia) \n                                     FROM   oft_conduta \n                                     WHERE  nr_seq_consulta = a.nr_seq_consulta) \n        AND a.qt_periodo IS NOT NULL)                       AS retorno_em, \n       \n       (SELECT a.nm_usuario_orig \n        FROM   agenda_paciente a, \n               agenda x \n        WHERE  a.cd_agenda = x.cd_agenda \n               AND a.dt_agenda > Obter_data_entrada(m.nr_atendimento) \n               AND a.cd_pessoa_fisica = m.cd_pessoa_fisica \n               AND Obter_tipo_agenda(a.cd_agenda) = 2 \n               AND ROWNUM <= 1)                                    AS usuario, \n               \n       substr((SELECT Listagg(Obter_desc_procedimento(b.cd_procedimento, \n                       b.ie_origem_proced) \n                       || ' Quantidade = ' \n                       || b.qt_exame, ' ;') \n                 within GROUP (ORDER BY \n                 Obter_desc_procedimento(b.cd_procedimento, \n                 b.ie_origem_proced)) \n        FROM   pedido_exame_externo_item b \n               inner join proc_interno c \n                       ON c.nr_sequencia = b.nr_proc_interno \n               inner join pedido_exame_externo c \n                       ON c.nr_sequencia = b.nr_seq_pedido \n        WHERE  c.nr_seq_consulta = m.nr_seq_consulta \n               AND c.ie_situacao = 'A'),1,1000)                        AS \n       procedimentos \nFROM   (SELECT a.nr_atendimento, \n               a.cd_pessoa_fisica, \n               a.cd_medico, \n               Obter_nome_pf(a.cd_medico) nm_medico, \n               a.nr_sequencia             nr_seq_consulta, \n               a.cd_estabelecimento \n        FROM   oft_consulta a \n        WHERE  a.dt_consulta BETWEEN Inicio_dia(SYSDATE - 90) AND Fim_dia( \n                                     SYSDATE) \n        UNION \n        SELECT a.nr_atendimento, \n               a.cd_pessoa_fisica, \n               a.cd_medico, \n               Obter_nome_pf(a.cd_medico) nm_medico, \n               a.nr_sequencia             nr_seq_consulta, \n               a.cd_estabelecimento \n        FROM   oft_consulta a \n               left join (SELECT Count(1) nr_conduta, \n                                 nr_seq_consulta \n                          FROM   oft_conduta \n                          GROUP  BY nr_seq_consulta) b \n                      ON b.nr_seq_consulta = a.nr_sequencia \n               left join (SELECT a.nr_seq_consulta, \n                                 Count(1) nr_encaminhamento \n                          FROM   med_avaliacao_paciente a \n                                 inner join med_avaliacao_result b \n                                         ON b.nr_seq_avaliacao = a.nr_sequencia \n                          WHERE  a.nr_seq_tipo_avaliacao = 34 \n                                 AND b.nr_seq_item IN ( 456, 457, 458 ) \n                          GROUP  BY a.nr_seq_consulta) c \n                      ON c.nr_seq_consulta = a.nr_sequencia \n               left join (SELECT nr_seq_consulta, \n                                 Count(1) nr_procedimento \n                          FROM   pedido_exame_externo \n                          WHERE  ie_situacao = 'A' \n                          GROUP  BY nr_seq_consulta) d \n                      ON d.nr_seq_consulta = a.nr_sequencia \n        WHERE  a.dt_consulta BETWEEN Inicio_dia(SYSDATE - 30) AND Fim_dia( \n                                     SYSDATE) \n               AND ( ( Nvl(b.nr_conduta, 0) > 0 ) \n                      OR ( Nvl(c.nr_encaminhamento, 0) > 0 ) \n                      OR ( Nvl(d.nr_procedimento, 0) > 0 ) )) m \n       inner join (SELECT cd_pessoa_fisica, \n                          nm_pessoa_fisica, \n                          Nvl(Nvl(nr_cel, nr_cel2), nr_tel) nr_tel, \n                          nr_prontuario, \n                          ds_email \n                   FROM   (SELECT x.cd_pessoa_fisica, \n                                  Initcap(x.nm_pessoa_fisica) \n                                          nm_pessoa_fisica, \n                                  x.nr_prontuario, \nRegexp_replace(Regexp_replace(x.nr_telefone_celular, \n               '[^[:digit:]]'), \nDecode( \nLength(Regexp_replace(x.nr_telefone_celular, \n       '[^[:digit:]]')), 8 \n, \nds_reg_8, \n9, \nds_reg_9, \n10, \nds_reg_10, \nds_reg_11) \n, \nDecode(Length(Regexp_replace(x.nr_telefone_celular, \n              '[^[:digit:]]')), 8, \nds_for_8 \n, \n9, \nds_for_9, \n10 \n        , \nds_for_10, \nds_for_11) \n) \n        nr_cel, \nRegexp_replace(Regexp_replace(y.nr_telefone_celular, \n               '[^[:digit:]]'), \nDecode( \nLength(Regexp_replace(y.nr_telefone_celular, \n       '[^[:digit:]]')), 8 \n, \nds_reg_8, \n9, \nds_reg_9, \n10, \nds_reg_10, \nds_reg_11) \n, \nDecode(Length(Regexp_replace(y.nr_telefone_celular, \n              '[^[:digit:]]')), 8, \nds_for_8 \n, \n9, \nds_for_9, \n10 \n        , \nds_for_10, \nds_for_11) \n) \n        nr_cel2, \nRegexp_replace(Regexp_replace(y.nr_telefone, \n               '[^[:digit:]]'), \nDecode(Length(Regexp_replace(y.nr_telefone, \n              '[^[:digit:]]')), 8, \nds_reg_8, \n9, ds_reg_9, \n10, ds_reg_10, \nds_reg_11), \nDecode(Length(Regexp_replace(y.nr_telefone, \n              '[^[:digit:]]')), 8, \nds_for_8, \n9, \nds_for_9, \n10 \n, \nds_for_10, \nds_for_11) \n        ) nr_tel, \ny.ds_email \nFROM   pessoa_fisica x \nleft join compl_pessoa_fisica y \n       ON y.cd_pessoa_fisica = x.cd_pessoa_fisica \n          AND y.ie_tipo_complemento = 1, \n(SELECT '([0-9]{4})([0-9]{4})'           ds_reg_8, \n        '\\1-\\2'                          ds_for_8, \n        '([0-9]{5})([0-9]{4})'           ds_reg_9, \n        '\\1-\\2'                          ds_for_9, \n        '([0-9]{2})([0-9]{4})([0-9]{4})' ds_reg_10, \n        '(\\1) \\2-\\3'                     ds_for_10, \n        '([0-9]{2})([0-9]{5})([0-9]{4})' ds_reg_11, \n        '(\\1) \\2-\\3'                     ds_for_11 \n FROM   dual) z \nWHERE  x.nr_telefone_celular IS NOT NULL \n OR y.nr_telefone_celular IS NOT NULL \n OR y.nr_telefone IS NOT NULL)) n \nON n.cd_pessoa_fisica = m.cd_pessoa_fisica \nWHERE  NOT EXISTS (SELECT a.dt_agenda, \n                          a.cd_pessoa_fisica \n                   FROM   agenda_paciente a \n                   WHERE  Obter_tipo_agenda(a.cd_agenda) = 2 \n                          AND a.cd_pessoa_fisica = m.cd_pessoa_fisica \n                          AND a.dt_agenda > SYSDATE)",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ESTABELECIMENTO",
											"type": "String"
										},
										"sink": {
											"name": "ESTABELECIMENTO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NR_ATENDIMENTO",
											"type": "Decimal"
										},
										"sink": {
											"name": "NR_ATENDIMENTO",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "NR_PRONTUARIO",
											"type": "Decimal"
										},
										"sink": {
											"name": "NR_PRONTUARIO",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CD_PESSOA_FISICA",
											"type": "String"
										},
										"sink": {
											"name": "CD_PESSOA_FISICA",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "NM_PACIENTE",
											"type": "String"
										},
										"sink": {
											"name": "NM_PACIENTE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NR_TEL",
											"type": "String"
										},
										"sink": {
											"name": "NR_TEL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_MEDICO",
											"type": "String"
										},
										"sink": {
											"name": "CD_MEDICO",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "NM_MEDICO",
											"type": "String"
										},
										"sink": {
											"name": "NM_MEDICO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_EMAIL",
											"type": "String"
										},
										"sink": {
											"name": "DS_EMAIL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NR_SEQ_CONSULTA",
											"type": "Decimal"
										},
										"sink": {
											"name": "NR_SEQ_CONSULTA",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DATA_ATENDIMENTO",
											"type": "String"
										},
										"sink": {
											"name": "DATA_ATENDIMENTO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "HORA",
											"type": "String"
										},
										"sink": {
											"name": "HORA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TIPO_ATENDIMENTO",
											"type": "String"
										},
										"sink": {
											"name": "TIPO_ATENDIMENTO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AGENDADO_PARA_HORA",
											"type": "String"
										},
										"sink": {
											"name": "AGENDADO_PARA_HORA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AGENDADO_PARA_DIA",
											"type": "String"
										},
										"sink": {
											"name": "AGENDADO_PARA_DIA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TIPO_AGENDA",
											"type": "Double"
										},
										"sink": {
											"name": "TIPO_AGENDA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RETORNO_EM",
											"type": "String"
										},
										"sink": {
											"name": "RETORNO_EM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "USUARIO",
											"type": "String"
										},
										"sink": {
											"name": "USUARIO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PROCEDIMENTOS",
											"type": "String"
										},
										"sink": {
											"name": "PROCEDIMENTOS",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CloudTasyPrdDataSet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AZSQL_TB_Retornos",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Truncate Table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_TRUNCATETABLEDEFAUT)]",
							"storedProcedureParameters": {
								"TABLENAME": {
									"value": "Oft_Consulta_Retorno",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSQL_DB_Procedimentos",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Retornos de Consulta"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SadallaTasyPrdDataSet')]",
				"[concat(variables('factoryId'), '/datasets/AZSQL_TB_Retornos')]",
				"[concat(variables('factoryId'), '/datasets/CloudTasyPrdDataSet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Titulos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Titulos HTML5",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "        SELECT  \n        obter_cnpj_estabelecimento(A.CD_ESTABELECIMENTO) as cd_cgc_estab,\n        SUBSTR(OBTER_NOME_ESTABELECIMENTO(A.CD_ESTABELECIMENTO),1,255) ESTABELECIMENTO,\n        A.CD_CGC CD_CNPJ,\n        B.DS_RAZAO_SOCIAL NM_RAZAOSOCIAL,\n        B.NM_FANTASIA,\n        A.NR_TITULO,\n        A.NR_NOTA_FISCAL,\n        A.DT_EMISSAO,\n        A.DT_VENCIMENTO DT_VENCIMENTO_ORIGINAL,\n        A.DT_PAGAMENTO_PREVISTO DT_VENCIMENTO_PRORROGADO,\n        A.VL_TITULO VL_BRUTO,\n        A.VL_SALDO_JUROS,\n        A.VL_SALDO_MULTA,\n        OBTER_DADOS_TITULO_RECEBER(A.NR_TITULO, 'VLL') VL_LIQUIDO,\n        A.VL_SALDO_TITULO,\n        OBTER_VL_AMENOR_TIT(A.NR_TITULO,'A',A.DT_ATUALIZACAO) as VL_AMENOR,\n        Obter_valor_dominio(710, a.ie_situacao) as situacao,\n        '' as MARCA,\n        '' AS SIGLA_UNIDADE\nFROM    TITULO_RECEBER A, PESSOA_JURIDICA B -- TITULO_RECEBER_LIQ L\nwhere     b.cd_cgc = a.cd_cgc\nand     a.vl_saldo_titulo <> 0",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CloudTasyPrdDataSet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AZ_SQL_TB_Titulos_Receber",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Titulos Sadalla",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT  \n        obter_cnpj_estabelecimento(A.CD_ESTABELECIMENTO) as cd_cgc_estab,\n        SUBSTR(OBTER_NOME_ESTABELECIMENTO(A.CD_ESTABELECIMENTO),1,255) ESTABELECIMENTO,\n        A.CD_CGC CD_CNPJ,\n        B.DS_RAZAO_SOCIAL NM_RAZAOSOCIAL,\n        B.NM_FANTASIA,\n        A.NR_TITULO,\n        A.NR_NOTA_FISCAL,\n        A.DT_EMISSAO,\n        A.DT_VENCIMENTO DT_VENCIMENTO_ORIGINAL,\n        A.DT_PAGAMENTO_PREVISTO DT_VENCIMENTO_PRORROGADO,\n        A.VL_TITULO VL_BRUTO,\n        A.VL_SALDO_JUROS,\n        A.VL_SALDO_MULTA,\n        OBTER_DADOS_TITULO_RECEBER(A.NR_TITULO, 'VLL') VL_LIQUIDO,\n        A.VL_SALDO_TITULO,\n        OBTER_VL_AMENOR_TIT(A.NR_TITULO,'A',A.DT_ATUALIZACAO) as VL_AMENOR,\n        Obter_valor_dominio(710, a.ie_situacao) as situacao,\n        '' as MARCA,\n        '' AS SIGLA_UNIDADE\nFROM    TITULO_RECEBER A, PESSOA_JURIDICA B -- TITULO_RECEBER_LIQ L\nwhere   b.cd_cgc = a.cd_cgc\nand     a.vl_saldo_titulo <> 0\nand     a.cd_estabelecimento not in (11)",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SadallaTasyPrdDataSet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AZ_SQL_TB_Titulos_Receber",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Contas a receber"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CloudTasyPrdDataSet')]",
				"[concat(variables('factoryId'), '/datasets/SadallaTasyPrdDataSet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZSQL_TB_Retornos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Retornos de consulta"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ESTABELECIMENTO",
						"type": "varchar"
					},
					{
						"name": "NR_ATENDIMENTO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NR_PRONTUARIO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CD_PESSOA_FISICA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NM_PACIENTE",
						"type": "varchar"
					},
					{
						"name": "NR_TEL",
						"type": "varchar"
					},
					{
						"name": "CD_MEDICO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NM_MEDICO",
						"type": "varchar"
					},
					{
						"name": "DS_EMAIL",
						"type": "varchar"
					},
					{
						"name": "NR_SEQ_CONSULTA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CD_ESTABELECIMENTO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DATA_ATENDIMENTO",
						"type": "date"
					},
					{
						"name": "TIPO_ATENDIMENTO",
						"type": "varchar"
					},
					{
						"name": "AGENDADO_PARA_DIA",
						"type": "date"
					},
					{
						"name": "TIPO_AGENDA",
						"type": "varchar"
					},
					{
						"name": "RETORNO_EM",
						"type": "varchar"
					},
					{
						"name": "USUARIO",
						"type": "varchar"
					},
					{
						"name": "PROCEDIMENTOS",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Oft_Consulta_Retorno"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CloudTasyPrdDataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CloudTasyProd_NEW",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Power BI"
				},
				"annotations": [],
				"type": "OracleTable",
				"structure": [
					{
						"name": "ESTABELECIMENTO",
						"type": "String"
					},
					{
						"name": "NR_ATENDIMENTO",
						"type": "Decimal"
					},
					{
						"name": "NR_PRONTUARIO",
						"type": "Decimal"
					},
					{
						"name": "CD_PESSOA_FISICA",
						"type": "String"
					},
					{
						"name": "NM_PACIENTE",
						"type": "String"
					},
					{
						"name": "NR_TEL",
						"type": "String"
					},
					{
						"name": "CD_MEDICO",
						"type": "String"
					},
					{
						"name": "NM_MEDICO",
						"type": "String"
					},
					{
						"name": "DS_EMAIL",
						"type": "String"
					},
					{
						"name": "NR_SEQ_CONSULTA",
						"type": "Decimal"
					},
					{
						"name": "DATA_ATENDIMENTO",
						"type": "String"
					},
					{
						"name": "HORA",
						"type": "String"
					},
					{
						"name": "TIPO_ATENDIMENTO",
						"type": "String"
					},
					{
						"name": "AGENDADO_PARA_DIA",
						"type": "String"
					},
					{
						"name": "AGENDADO_PARA_HORA",
						"type": "String"
					},
					{
						"name": "TIPO_AGENDA",
						"type": "Double"
					},
					{
						"name": "RETORNO_EM",
						"type": "String"
					},
					{
						"name": "USUARIO",
						"type": "String"
					},
					{
						"name": "PROCEDIMENTOS",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SadallaTasyPrdDataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SadallaTasyProd_NEW",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Power BI"
				},
				"annotations": [],
				"type": "OracleTable",
				"structure": [
					{
						"name": "ESTABELECIMENTO",
						"type": "String"
					},
					{
						"name": "NR_ATENDIMENTO",
						"type": "Decimal"
					},
					{
						"name": "NR_PRONTUARIO",
						"type": "Decimal"
					},
					{
						"name": "CD_PESSOA_FISICA",
						"type": "String"
					},
					{
						"name": "NM_PACIENTE",
						"type": "String"
					},
					{
						"name": "NR_TEL",
						"type": "String"
					},
					{
						"name": "CD_MEDICO",
						"type": "String"
					},
					{
						"name": "NM_MEDICO",
						"type": "String"
					},
					{
						"name": "DS_EMAIL",
						"type": "String"
					},
					{
						"name": "NR_SEQ_CONSULTA",
						"type": "Decimal"
					},
					{
						"name": "DATA_ATENDIMENTO",
						"type": "String"
					},
					{
						"name": "HORA",
						"type": "String"
					},
					{
						"name": "TIPO_ATENDIMENTO",
						"type": "String"
					},
					{
						"name": "AGENDADO_PARA_DIA",
						"type": "String"
					},
					{
						"name": "AGENDADO_PARA_HORA",
						"type": "String"
					},
					{
						"name": "TIPO_AGENDA",
						"type": "Double"
					},
					{
						"name": "RETORNO_EM",
						"type": "String"
					},
					{
						"name": "USUARIO",
						"type": "String"
					},
					{
						"name": "PROCEDIMENTOS",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		}
	]
}