OptyADF/PartialArmTemplates/ArmTemplate_8_15_2019_18_21_38.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "OptyADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Tasy - Sadalla')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy procedures",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select \n\n'Tasy Sadalla' as BASE,\n7 as cd_marca,\n'Hospital de Olhos Sadalla Amin Ghanem' as marca,\n17 as cd_estabelecimento,\np.nr_atendimento,\n'7'||'17'||p.nr_atendimento as nr_registro_unico,\np.dt_atualizacao,\nat.dt_entrada,\np.nr_interno_conta,\nobter_nome_estab(c.cd_estabelecimento) as ds_estabelecimento,\npf.cd_pessoa_fisica,\npf.dt_nascimento,\npf.nr_cpf,\npf.ie_sexo,\nobter_compl_pf(pf.cd_pessoa_fisica,1,'CEP') as nr_cep,\nobter_compl_pf(pf.cd_pessoa_fisica,1,'CI') as ds_cidade,\nobter_nome_pf(at.cd_pessoa_fisica) as ds_pessoa_fisica,\np.cd_convenio as cd_convenio,\nobter_nome_convenio(c.cd_convenio_parametro) as ds_convenio,\np.cd_medico_executor,\nobter_nome_pf(p.cd_medico_executor) as ds_medico_executor,\np.cd_medico_req as cd_medico_requisitante,\nobter_nome_pf(p.cd_medico_req) as ds_medico_requisitante,\np.ie_origem_proced,\np.cd_procedimento,\nobter_desc_procedimento(p.cd_procedimento, p.ie_origem_proced) as ds_procedimento, \nobter_valor_dominio(19,pr.ie_classificacao) as ds_classificacao,\n'' as ds_classif_procedimento,\n0 as cd_proced_principal,\n'' ds_proced_principal,\np.qt_procedimento,\nc.vl_conta,\np.vl_procedimento,\nc.ie_status_acerto,\ndecode(c.ie_status_acerto, 1,'Provisorio' , 2 ,'Definitivo') as status_conta,\n'' as cd_tuss,\n'' as ds_classif_lio\nfrom procedimento_paciente p,\natendimento_paciente at,\npessoa_fisica pf,\nprocedimento pr,\nconta_paciente c\nwhere p.nr_atendimento = at.nr_atendimento\nand at.cd_pessoa_fisica = pf.cd_pessoa_fisica\nand p.cd_procedimento = pr.cd_procedimento\nand p.ie_origem_proced = pr.ie_origem_proced\nand p.nr_interno_conta = c.nr_interno_conta\nand at.dt_entrada >= '01/01/2018' ",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CD_MARCA"
										},
										"sink": {
											"name": "CD_MARCA",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "MARCA"
										},
										"sink": {
											"name": "MARCA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_ESTABELECIMENTO"
										},
										"sink": {
											"name": "CD_ESTABELECIMENTO",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "NR_ATENDIMENTO"
										},
										"sink": {
											"name": "NR_ATENDIMENTO",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "NR_REGISTRO_UNICO"
										},
										"sink": {
											"name": "NR_REGISTRO_UNICO",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "DT_ATUALIZACAO"
										},
										"sink": {
											"name": "DT_ATUALIZACAO",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DT_ENTRADA"
										},
										"sink": {
											"name": "DT_ENTRADA",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "NR_INTERNO_CONTA"
										},
										"sink": {
											"name": "NR_INTERNO_CONTA",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DS_ESTABELECIMENTO"
										},
										"sink": {
											"name": "DS_ESTABELECIMENTO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_PESSOA_FISICA"
										},
										"sink": {
											"name": "CD_PESSOA_FISICA",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DT_NASCIMENTO"
										},
										"sink": {
											"name": "DT_NASCIMENTO",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "NR_CPF"
										},
										"sink": {
											"name": "NR_CPF",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IE_SEXO"
										},
										"sink": {
											"name": "IE_SEXO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NR_CEP"
										},
										"sink": {
											"name": "NR_CEP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_CIDADE"
										},
										"sink": {
											"name": "DS_CIDADE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_PESSOA_FISICA"
										},
										"sink": {
											"name": "DS_PESSOA_FISICA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_CONVENIO"
										},
										"sink": {
											"name": "CD_CONVENIO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_CONVENIO"
										},
										"sink": {
											"name": "DS_CONVENIO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_MEDICO_EXECUTOR"
										},
										"sink": {
											"name": "CD_MEDICO_EXECUTOR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_MEDICO_EXECUTOR"
										},
										"sink": {
											"name": "DS_MEDICO_EXECUTOR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_MEDICO_REQUISITANTE"
										},
										"sink": {
											"name": "CD_MEDICO_REQUISITANTE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_MEDICO_REQUISITANTE"
										},
										"sink": {
											"name": "DS_MEDICO_REQUISITANTE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IE_ORIGEM_PROCED"
										},
										"sink": {
											"name": "IE_ORIGEM_PROCED",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CD_PROCEDIMENTO"
										},
										"sink": {
											"name": "CD_PROCEDIMENTO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_PROCEDIMENTO"
										},
										"sink": {
											"name": "DS_PROCEDIMENTO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_CLASSIFICACAO"
										},
										"sink": {
											"name": "DS_CLASSIFICACAO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_CLASSIF_PROCEDIMENTO"
										},
										"sink": {
											"name": "DS_CLASSIF_PROCEDIMENTO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_PROCED_PRINCIPAL"
										},
										"sink": {
											"name": "CD_PROCED_PRINCIPAL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_PROCED_PRINCIPAL"
										},
										"sink": {
											"name": "DS_PROCED_PRINCIPAL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QT_PROCEDIMENTO"
										},
										"sink": {
											"name": "QT_PROCEDIMENTO",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "VL_CONTA"
										},
										"sink": {
											"name": "VL_CONTA",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "VL_PROCEDIMENTO"
										},
										"sink": {
											"name": "VL_PROCEDIMENTO",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "IE_STATUS_ACERTO"
										},
										"sink": {
											"name": "IE_STATUS_ACERTO",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "STATUS_CONTA"
										},
										"sink": {
											"name": "STATUS_CONTA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_CLASSIF_LIO"
										},
										"sink": {
											"name": "DS_CLASSIF_LIO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BASE"
										},
										"sink": {
											"name": "BASE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SadallaTasyPrdDataSet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTEMPTable",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Processa Itens",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy procedures",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy materials",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[ProcessTempItems]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Tabela Final",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Processa Itens",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from TEMPTASY\nWhere Processed = 'Sim'"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "NR_REGISTRO_UNICO",
											"type": "String"
										},
										"sink": {
											"name": "NR_REGISTRO_UNICO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_MARCA",
											"type": "Int32"
										},
										"sink": {
											"name": "CD_MARCA",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "MARCA",
											"type": "String"
										},
										"sink": {
											"name": "DS_MARCA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DT_ATUALIZACAO",
											"type": "DateTime"
										},
										"sink": {
											"name": "DT_ATUALIZACAO",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DT_ENTRADA",
											"type": "DateTime"
										},
										"sink": {
											"name": "DT_ENTRADA",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "NR_ATENDIMENTO",
											"type": "String"
										},
										"sink": {
											"name": "NR_ATENDIMENTO",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CD_ESTABELECIMENTO",
											"type": "Int32"
										},
										"sink": {
											"name": "CD_ESTABELECIMENTO",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DS_ESTABELECIMENTO",
											"type": "String"
										},
										"sink": {
											"name": "DS_ESTABELECIMENTO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_PESSOA_FISICA",
											"type": "Int32"
										},
										"sink": {
											"name": "CD_PESSOA_FISICA",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DT_NASCIMENTO",
											"type": "DateTime"
										},
										"sink": {
											"name": "DT_NASCIMENTO",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "NR_CPF",
											"type": "String"
										},
										"sink": {
											"name": "NR_CPF",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IE_SEXO",
											"type": "String"
										},
										"sink": {
											"name": "IE_SEXO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NR_CEP",
											"type": "String"
										},
										"sink": {
											"name": "NR_CEP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_CIDADE",
											"type": "String"
										},
										"sink": {
											"name": "DS_CIDADE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_PESSOA_FISICA",
											"type": "String"
										},
										"sink": {
											"name": "DS_PESSOA_FISICA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_CONVENIO",
											"type": "String"
										},
										"sink": {
											"name": "CD_CONVENIO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_CONVENIO",
											"type": "String"
										},
										"sink": {
											"name": "DS_CONVENIO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_MEDICO_EXECUTOR",
											"type": "String"
										},
										"sink": {
											"name": "CD_MEDICO_EXECUTOR",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DS_MEDICO_EXECUTOR",
											"type": "String"
										},
										"sink": {
											"name": "DS_MEDICO_EXECUTOR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_MEDICO_REQUISITANTE",
											"type": "String"
										},
										"sink": {
											"name": "CD_MEDICO_REQUISITANTE",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DS_MEDICO_REQUISITANTE",
											"type": "String"
										},
										"sink": {
											"name": "DS_MEDICO_REQUISITANTE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IE_ORIGEM_PROCED",
											"type": "Int32"
										},
										"sink": {
											"name": "IE_ORIGEM_PROCED",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CD_PROCEDIMENTO",
											"type": "String"
										},
										"sink": {
											"name": "CD_PROCEDIMENTO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_PROCEDIMENTO",
											"type": "String"
										},
										"sink": {
											"name": "DS_PROCEDIMENTO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_PROCED_PRINCIPAL",
											"type": "String"
										},
										"sink": {
											"name": "CD_PROCEDIMENTO_PRINCIPAL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_PROCED_PRINCIPAL",
											"type": "String"
										},
										"sink": {
											"name": "DS_PROCEDIMENTO_PRINCIPAL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_PROCEDIMENTO_PRINCIPAL_FINAL",
											"type": "String"
										},
										"sink": {
											"name": "DS_PROCEDIMENTO_PRINCIPAL_FINAL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_CATEGORIA_AUXILIAR",
											"type": "Int32"
										},
										"sink": {
											"name": "CD_CATEGORIA_AUXILIAR",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DS_CATEGORIA_AUXILIAR",
											"type": "String"
										},
										"sink": {
											"name": "DS_CATEGORIA_AUXILIAR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_CATEGORIA",
											"type": "Int32"
										},
										"sink": {
											"name": "CD_CATEGORIA",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DS_CATEGORIA",
											"type": "String"
										},
										"sink": {
											"name": "DS_CATEGORIA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_CLASSE",
											"type": "Int32"
										},
										"sink": {
											"name": "CD_CLASSE",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DS_CLASSE",
											"type": "String"
										},
										"sink": {
											"name": "DS_CLASSE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_CLASSIF_LIO",
											"type": "Int32"
										},
										"sink": {
											"name": "CD_CLASSIF_LIO",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DS_CLASSIF_LIO",
											"type": "String"
										},
										"sink": {
											"name": "DS_CLASSIF_LIO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QT_PROCEDIMENTO",
											"type": "Double"
										},
										"sink": {
											"name": "QT_PROCEDIMENTO",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "QT_AJUSTADA",
											"type": "Int32"
										},
										"sink": {
											"name": "QT_AJUSTADA",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "VL_CONTA",
											"type": "Double"
										},
										"sink": {
											"name": "VL_CONTA",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "VL_PROCEDIMENTO",
											"type": "Double"
										},
										"sink": {
											"name": "VL_PROCEDIMENTO",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "IE_STATUS_ACERTO",
											"type": "Int32"
										},
										"sink": {
											"name": "IE_STATUS_ACERTO",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DS_STATUS_CONTA",
											"type": "String"
										},
										"sink": {
											"name": "DS_STATUS_CONTA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_TUSS",
											"type": "Int32"
										},
										"sink": {
											"name": "CD_TUSS",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TIPO_CONVENIO",
											"type": "String"
										},
										"sink": {
											"name": "TIPO_CONVENIO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CRM",
											"type": "String"
										},
										"sink": {
											"name": "CRM_EXECUTOR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MPE",
											"type": "String"
										},
										"sink": {
											"name": "MPE_EXECUTOR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INTERCOMPANY",
											"type": "String"
										},
										"sink": {
											"name": "INTERCOMPANY_EXECUTOR",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTEMPTable",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlProcedimentosTable",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Truncate Temp Table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Tabela Final",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[TRUNCATETEMPTABLE]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy materials",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select \n\n'Tasy Sadalla' as BASE,\n7 as cd_marca,\n'Hospital de Olhos Sadalla Amin Ghanem' as marca,\n17 as cd_estabelecimento,\np.nr_atendimento,\n'7'||'17'||p.nr_atendimento as nr_registro_unico,\np.dt_atualizacao,\nat.dt_entrada,\np.nr_interno_conta,\nobter_nome_estab(c.cd_estabelecimento) as ds_estabelecimento,\npf.cd_pessoa_fisica,\npf.dt_nascimento,\npf.nr_cpf,\npf.ie_sexo,\nobter_compl_pf(pf.cd_pessoa_fisica,1,'CEP') as nr_cep,\nobter_compl_pf(pf.cd_pessoa_fisica,1,'CI') as ds_cidade,\nobter_nome_pf(at.cd_pessoa_fisica) as ds_pessoa_fisica,\np.cd_convenio as cd_convenio,\nobter_nome_convenio(c.cd_convenio_parametro) as ds_convenio,\nci.cd_medico_cirurgiao as cd_medico_executor,\nobter_nome_pf(ci.cd_medico_cirurgiao) as ds_medico_executor,\nci.cd_medico_cirurgiao as cd_medico_requisitante,\nobter_nome_pf(ci.cd_medico_cirurgiao) as ds_medico_requisitante,\n'' as ie_origem_proced,\np.cd_material,\npr.ds_material as ds_procedimento, \n'Material' as ds_classificacao,\n'' as ds_classif_procedimento,\n0 as cd_proced_principal,\n'' ds_proced_principal,\np.qt_material as qt_procedimento,\nc.vl_conta,\np.vl_material as vl_procedimento,\nc.ie_status_acerto,\ndecode(c.ie_status_acerto, 1,'Provisorio' , 2 ,'Definitivo') as status_conta,\n0 as cd_tuss,\n(select x.ds_estrutura from  mat_estrutura x, mat_estrutura_cadastro y where x.nr_sequencia = y.nr_seq_estrutura and y.cd_material = p.cd_material) as ds_classif_lio\nfrom material_atend_paciente p,\natendimento_paciente at,\npessoa_fisica pf,\nmaterial pr,\nconta_paciente c,\ncirurgia ci\nwhere p.nr_atendimento = at.nr_atendimento\nand at.cd_pessoa_fisica = pf.cd_pessoa_fisica\nand p.cd_material = pr.cd_material\nand p.nr_interno_conta = c.nr_interno_conta\nand p.nr_cirurgia = ci.nr_cirurgia\nand p.nr_atendimento = ci.nr_atendimento\nand at.dt_entrada >= '01/01/2018' ",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CD_MARCA"
										},
										"sink": {
											"name": "CD_MARCA",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "MARCA"
										},
										"sink": {
											"name": "MARCA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_ESTABELECIMENTO"
										},
										"sink": {
											"name": "CD_ESTABELECIMENTO",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "NR_ATENDIMENTO"
										},
										"sink": {
											"name": "NR_ATENDIMENTO",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "NR_REGISTRO_UNICO"
										},
										"sink": {
											"name": "NR_REGISTRO_UNICO",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "DT_ATUALIZACAO"
										},
										"sink": {
											"name": "DT_ATUALIZACAO",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DT_ENTRADA"
										},
										"sink": {
											"name": "DT_ENTRADA",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "NR_INTERNO_CONTA"
										},
										"sink": {
											"name": "NR_INTERNO_CONTA",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DS_ESTABELECIMENTO"
										},
										"sink": {
											"name": "DS_ESTABELECIMENTO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_PESSOA_FISICA"
										},
										"sink": {
											"name": "CD_PESSOA_FISICA",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DT_NASCIMENTO"
										},
										"sink": {
											"name": "DT_NASCIMENTO",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "NR_CPF"
										},
										"sink": {
											"name": "NR_CPF",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IE_SEXO"
										},
										"sink": {
											"name": "IE_SEXO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NR_CEP"
										},
										"sink": {
											"name": "NR_CEP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_CIDADE"
										},
										"sink": {
											"name": "DS_CIDADE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_PESSOA_FISICA"
										},
										"sink": {
											"name": "DS_PESSOA_FISICA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_CONVENIO"
										},
										"sink": {
											"name": "CD_CONVENIO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_CONVENIO"
										},
										"sink": {
											"name": "DS_CONVENIO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_MEDICO_EXECUTOR"
										},
										"sink": {
											"name": "CD_MEDICO_EXECUTOR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_MEDICO_EXECUTOR"
										},
										"sink": {
											"name": "DS_MEDICO_EXECUTOR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_MEDICO_REQUISITANTE"
										},
										"sink": {
											"name": "CD_MEDICO_REQUISITANTE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_MEDICO_REQUISITANTE"
										},
										"sink": {
											"name": "DS_MEDICO_REQUISITANTE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IE_ORIGEM_PROCED"
										},
										"sink": {
											"name": "IE_ORIGEM_PROCED",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CD_PROCEDIMENTO"
										},
										"sink": {
											"name": "CD_PROCEDIMENTO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_PROCEDIMENTO"
										},
										"sink": {
											"name": "DS_PROCEDIMENTO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_CLASSIFICACAO"
										},
										"sink": {
											"name": "DS_CLASSIFICACAO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_CLASSIF_PROCEDIMENTO"
										},
										"sink": {
											"name": "DS_CLASSIF_PROCEDIMENTO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_PROCED_PRINCIPAL"
										},
										"sink": {
											"name": "CD_PROCED_PRINCIPAL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_PROCED_PRINCIPAL"
										},
										"sink": {
											"name": "DS_PROCED_PRINCIPAL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QT_PROCEDIMENTO"
										},
										"sink": {
											"name": "QT_PROCEDIMENTO",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "VL_CONTA"
										},
										"sink": {
											"name": "VL_CONTA",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "VL_PROCEDIMENTO"
										},
										"sink": {
											"name": "VL_PROCEDIMENTO",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "IE_STATUS_ACERTO"
										},
										"sink": {
											"name": "IE_STATUS_ACERTO",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "STATUS_CONTA"
										},
										"sink": {
											"name": "STATUS_CONTA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_CLASSIF_LIO"
										},
										"sink": {
											"name": "DS_CLASSIF_LIO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BASE"
										},
										"sink": {
											"name": "BASE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SadallaTasyPrdDataSet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTEMPTable",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Power BI/Desenvolvimento"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tickets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy requests",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clear tables",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "REQUEST",
											"type": "String"
										},
										"sink": {
											"name": "REQUEST",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLIENT",
											"type": "String"
										},
										"sink": {
											"name": "CLIENT"
										}
									},
									{
										"source": {
											"name": "OPENDATE",
											"type": "String"
										},
										"sink": {
											"name": "OPENDATE"
										}
									},
									{
										"source": {
											"name": "CLOSEDATE",
											"type": "String"
										},
										"sink": {
											"name": "CLOSEDATE"
										}
									},
									{
										"source": {
											"name": "LASTACTION",
											"type": "String"
										},
										"sink": {
											"name": "LASTACTION"
										}
									},
									{
										"source": {
											"name": "LASTANALYST",
											"type": "String"
										},
										"sink": {
											"name": "LASTANALYST"
										}
									},
									{
										"source": {
											"name": "LASTREOPEN",
											"type": "String"
										},
										"sink": {
											"name": "LASTREOPEN"
										}
									},
									{
										"source": {
											"name": "RESLREMAINS",
											"type": "String"
										},
										"sink": {
											"name": "RESLREMAINS"
										}
									},
									{
										"source": {
											"name": "RESPMINS",
											"type": "String"
										},
										"sink": {
											"name": "RESPMINS"
										}
									},
									{
										"source": {
											"name": "RESLMINS",
											"type": "String"
										},
										"sink": {
											"name": "RESLMINS"
										}
									},
									{
										"source": {
											"name": "CLOSED",
											"type": "String"
										},
										"sink": {
											"name": "CLOSED"
										}
									},
									{
										"source": {
											"name": "ORIGANAL",
											"type": "String"
										},
										"sink": {
											"name": "ORIGANAL"
										}
									},
									{
										"source": {
											"name": "CURRANAL",
											"type": "String"
										},
										"sink": {
											"name": "CURRANAL"
										}
									},
									{
										"source": {
											"name": "GROUPANAL",
											"type": "String"
										},
										"sink": {
											"name": "GROUPANAL"
										}
									},
									{
										"source": {
											"name": "LASTANAL",
											"type": "String"
										},
										"sink": {
											"name": "LASTANAL"
										}
									},
									{
										"source": {
											"name": "LASTANLGRP",
											"type": "String"
										},
										"sink": {
											"name": "LASTANLGRP"
										}
									},
									{
										"source": {
											"name": "ORIGGROUP",
											"type": "String"
										},
										"sink": {
											"name": "ORIGGROUP"
										}
									},
									{
										"source": {
											"name": "CURRGROUP",
											"type": "String"
										},
										"sink": {
											"name": "CURRGROUP"
										}
									},
									{
										"source": {
											"name": "LASTGROUP",
											"type": "String"
										},
										"sink": {
											"name": "LASTGROUP"
										}
									},
									{
										"source": {
											"name": "CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "CATEGORY"
										}
									},
									{
										"source": {
											"name": "PRODUCT",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCT"
										}
									},
									{
										"source": {
											"name": "PROCESS",
											"type": "String"
										},
										"sink": {
											"name": "PROCESS"
										}
									},
									{
										"source": {
											"name": "RSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "RSTATUS"
										}
									},
									{
										"source": {
											"name": "RPRIORITY",
											"type": "String"
										},
										"sink": {
											"name": "RPRIORITY"
										}
									},
									{
										"source": {
											"name": "REQTYPE",
											"type": "String"
										},
										"sink": {
											"name": "REQTYPE"
										}
									},
									{
										"source": {
											"name": "REQSOURCE",
											"type": "String"
										},
										"sink": {
											"name": "REQSOURCE"
										}
									},
									{
										"source": {
											"name": "LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "REQLOCATION"
										}
									},
									{
										"source": {
											"name": "ORGUNIT",
											"type": "String"
										},
										"sink": {
											"name": "ORGUNIT"
										}
									},
									{
										"source": {
											"name": "ORGUNIT_ROOT",
											"type": "String"
										},
										"sink": {
											"name": "ORGUNIT_ROOT"
										}
									},
									{
										"source": {
											"name": "ABSTRACT",
											"type": "String"
										},
										"sink": {
											"name": "ABSTRACT"
										}
									},
									{
										"source": {
											"name": "DESCRIPT",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPT"
										}
									},
									{
										"source": {
											"name": "LASTSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "LASTSTATUS"
										}
									},
									{
										"source": {
											"name": "LASTPRIORITY",
											"type": "String"
										},
										"sink": {
											"name": "LASTPRIORITY"
										}
									},
									{
										"source": {
											"name": "LASTACTIONATEND",
											"type": "String"
										},
										"sink": {
											"name": "LASTACTIONATEND"
										}
									},
									{
										"source": {
											"name": "RESPDATE",
											"type": "String"
										},
										"sink": {
											"name": "RESPDATE"
										}
									},
									{
										"source": {
											"name": "RESPTIME",
											"type": "String"
										},
										"sink": {
											"name": "RESPTIME"
										}
									},
									{
										"source": {
											"name": "RESLTIME",
											"type": "String"
										},
										"sink": {
											"name": "RESLTIME"
										}
									},
									{
										"source": {
											"name": "RESPREMAINS"
										},
										"sink": {
											"name": "RESPREMAINS"
										}
									},
									{
										"source": {
											"name": "RESPMODE",
											"type": "String"
										},
										"sink": {
											"name": "RESPMODE"
										}
									},
									{
										"source": {
											"name": "RESLMODE",
											"type": "String"
										},
										"sink": {
											"name": "RESLMODE"
										}
									},
									{
										"source": {
											"name": "NOCOMPUTE",
											"type": "String"
										},
										"sink": {
											"name": "NOCOMPUTE"
										}
									},
									{
										"source": {
											"name": "APROVANLTYPE",
											"type": "String"
										},
										"sink": {
											"name": "APROVANLTYPE"
										}
									},
									{
										"source": {
											"name": "APROVCLITYPE",
											"type": "String"
										},
										"sink": {
											"name": "APROVCLITYPE"
										}
									},
									{
										"source": {
											"name": "MLEVELAPROV",
											"type": "String"
										},
										"sink": {
											"name": "MLEVELAPROV"
										}
									},
									{
										"source": {
											"name": "CLIENTAPROV",
											"type": "String"
										},
										"sink": {
											"name": "CLIENTAPROV"
										}
									},
									{
										"source": {
											"name": "PACKAGE",
											"type": "String"
										},
										"sink": {
											"name": "PACKAGE"
										}
									},
									{
										"source": {
											"name": "WORKFLOW",
											"type": "String"
										},
										"sink": {
											"name": "WORKFLOW"
										}
									},
									{
										"source": {
											"name": "LASTSEVENT",
											"type": "String"
										},
										"sink": {
											"name": "LASTSEVENT"
										}
									},
									{
										"source": {
											"name": "REQWORKFLOW",
											"type": "String"
										},
										"sink": {
											"name": "REQWORKFLOW"
										}
									},
									{
										"source": {
											"name": "ORIGCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "ORIGCATEGORY"
										}
									},
									{
										"source": {
											"name": "ORIGPRODUCT",
											"type": "String"
										},
										"sink": {
											"name": "ORIGPRODUCT"
										}
									},
									{
										"source": {
											"name": "ORIGPROCESS",
											"type": "String"
										},
										"sink": {
											"name": "ORIGPROCESS"
										}
									},
									{
										"source": {
											"name": "TOTALATTACH",
											"type": "String"
										},
										"sink": {
											"name": "TOTALATTACH"
										}
									},
									{
										"source": {
											"name": "TOTALATTACHACT",
											"type": "String"
										},
										"sink": {
											"name": "TOTALATTACHACT"
										}
									},
									{
										"source": {
											"name": "INSERTDATE",
											"type": "String"
										},
										"sink": {
											"name": "INSERTDATE"
										}
									},
									{
										"source": {
											"name": "QFORM",
											"type": "String"
										},
										"sink": {
											"name": "QFORM"
										}
									},
									{
										"source": {
											"name": "QSURVEY",
											"type": "String"
										},
										"sink": {
											"name": "QSURVEY"
										}
									},
									{
										"source": {
											"name": "QSESSIONFORM",
											"type": "String"
										},
										"sink": {
											"name": "QSESSIONFORM"
										}
									},
									{
										"source": {
											"name": "QSESSIONSURVEY",
											"type": "String"
										},
										"sink": {
											"name": "QSESSIONSURVEY"
										}
									},
									{
										"source": {
											"name": "REQUESTFLAGS",
											"type": "String"
										},
										"sink": {
											"name": "REQUESTFLAGS"
										}
									},
									{
										"source": {
											"name": "V_ASSOCIATION",
											"type": "String"
										},
										"sink": {
											"name": "V_ASSOCIATION"
										}
									},
									{
										"source": {
											"name": "V_HAS_APPROVER",
											"type": "String"
										},
										"sink": {
											"name": "V_HAS_APPROVER"
										}
									},
									{
										"source": {
											"name": "LASTSEQUENCE",
											"type": "String"
										},
										"sink": {
											"name": "LASTSEQUENCE"
										}
									},
									{
										"source": {
											"name": "LASTRECALCDATE",
											"type": "String"
										},
										"sink": {
											"name": "LASTRECALCDATE"
										}
									},
									{
										"source": {
											"name": "LASTAPPROVCNTX",
											"type": "String"
										},
										"sink": {
											"name": "LASTAPPROVCNTX"
										}
									},
									{
										"source": {
											"name": "LASTAPPROVUSER",
											"type": "String"
										},
										"sink": {
											"name": "LASTAPPROVUSER"
										}
									},
									{
										"source": {
											"name": "LASTAPPROVCODE",
											"type": "String"
										},
										"sink": {
											"name": "LASTAPPROVCODE"
										}
									},
									{
										"source": {
											"name": "CURRAPPROVCODE",
											"type": "String"
										},
										"sink": {
											"name": "CURRAPPROVCODE"
										}
									},
									{
										"source": {
											"name": "ORIGNOCOMPUTE",
											"type": "String"
										},
										"sink": {
											"name": "ORIGNOCOMPUTE"
										}
									},
									{
										"source": {
											"name": "ORIGRSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "ORIGRSTATUS"
										}
									},
									{
										"source": {
											"name": "ORIGRPRIORITY",
											"type": "String"
										},
										"sink": {
											"name": "ORIGRPRIORITY"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "FILE_REQUESTS",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TABLE_REQUESTS",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Clear tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_TRUNCATEREQUESTS]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQL_DB_Procedimentos",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Calculate fields",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy requests",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_CALCULATEREQUESTS]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQL_DB_Procedimentos",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy sessions",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clear tables",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "QSESSION",
											"type": "String"
										},
										"sink": {
											"name": "QSESSION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QSESSIONTITLE",
											"type": "String"
										},
										"sink": {
											"name": "QSESSIONTITLE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QCLIENT",
											"type": "String"
										},
										"sink": {
											"name": "QCLIENT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QFORM",
											"type": "String"
										},
										"sink": {
											"name": "QFORM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QVERSION",
											"type": "String"
										},
										"sink": {
											"name": "QVERSION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "QSTATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QANSWERDATE",
											"type": "String"
										},
										"sink": {
											"name": "QANSWERDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QEXPDATE",
											"type": "String"
										},
										"sink": {
											"name": "QEXPDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QAPPLICATION",
											"type": "String"
										},
										"sink": {
											"name": "QAPPLICATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QSURVEYTYPE",
											"type": "String"
										},
										"sink": {
											"name": "QSURVEYTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQLOCATION",
											"type": "String"
										},
										"sink": {
											"name": "REQLOCATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "FILE_QSESSION",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TABLE_QSESSION",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy answers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clear tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "QSESSION",
											"type": "String"
										},
										"sink": {
											"name": "QSESSION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUESTION",
											"type": "String"
										},
										"sink": {
											"name": "QUESTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QANSWER",
											"type": "String"
										},
										"sink": {
											"name": "QANSWER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QANSWERED",
											"type": "String"
										},
										"sink": {
											"name": "QANSWERED",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QANSWERDATE",
											"type": "String"
										},
										"sink": {
											"name": "QANSWERDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QSHOW",
											"type": "String"
										},
										"sink": {
											"name": "QSHOW",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QORDER",
											"type": "String"
										},
										"sink": {
											"name": "QORDER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUPDATED",
											"type": "String"
										},
										"sink": {
											"name": "QUPDATED",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "FILE_QANSWER",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TABLE_QANSWER",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Requestia"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FILE_QSESSION')]",
				"[concat(variables('factoryId'), '/datasets/TABLE_QSESSION')]",
				"[concat(variables('factoryId'), '/datasets/FILE_QANSWER')]",
				"[concat(variables('factoryId'), '/datasets/TABLE_QANSWER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FILE_QANSWER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Folder_Requestia",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Requestia"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "qanswer.csv"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "QSESSION",
						"type": "String"
					},
					{
						"name": "QUESTION",
						"type": "String"
					},
					{
						"name": "QANSWER",
						"type": "String"
					},
					{
						"name": "QANSWERED",
						"type": "String"
					},
					{
						"name": "QANSWERDATE",
						"type": "String"
					},
					{
						"name": "QSHOW",
						"type": "String"
					},
					{
						"name": "QORDER",
						"type": "String"
					},
					{
						"name": "QUPDATED",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FILE_QSESSION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Folder_Requestia",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Requestia"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "qsession.csv"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "QSESSION",
						"type": "String"
					},
					{
						"name": "QSESSIONTITLE",
						"type": "String"
					},
					{
						"name": "QCLIENT",
						"type": "String"
					},
					{
						"name": "QFORM",
						"type": "String"
					},
					{
						"name": "QVERSION",
						"type": "String"
					},
					{
						"name": "QSTATUS",
						"type": "String"
					},
					{
						"name": "QANSWERDATE",
						"type": "String"
					},
					{
						"name": "QEXPDATE",
						"type": "String"
					},
					{
						"name": "QAPPLICATION",
						"type": "String"
					},
					{
						"name": "QSURVEYTYPE",
						"type": "String"
					},
					{
						"name": "REQLOCATION",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TABLE_QANSWER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Requestia"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "QSESSION",
						"type": "varchar"
					},
					{
						"name": "QUESTION",
						"type": "varchar"
					},
					{
						"name": "QANSWER",
						"type": "varchar"
					},
					{
						"name": "QANSWERED",
						"type": "varchar"
					},
					{
						"name": "QANSWERDATE",
						"type": "varchar"
					},
					{
						"name": "QSHOW",
						"type": "varchar"
					},
					{
						"name": "QORDER",
						"type": "varchar"
					},
					{
						"name": "QUPDATED",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "REQUESTIA_QANSWER"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TABLE_QSESSION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Requestia"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "QSESSION",
						"type": "varchar"
					},
					{
						"name": "QSESSIONTITLE",
						"type": "varchar"
					},
					{
						"name": "QCLIENT",
						"type": "varchar"
					},
					{
						"name": "QFORM",
						"type": "varchar"
					},
					{
						"name": "QVERSION",
						"type": "varchar"
					},
					{
						"name": "QSTATUS",
						"type": "varchar"
					},
					{
						"name": "QANSWERDATE",
						"type": "varchar"
					},
					{
						"name": "QEXPDATE",
						"type": "varchar"
					},
					{
						"name": "QAPPLICATION",
						"type": "varchar"
					},
					{
						"name": "QSURVEYTYPE",
						"type": "varchar"
					},
					{
						"name": "REQLOCATION",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "REQUESTIA_QSESSION"
				}
			},
			"dependsOn": []
		}
	]
}