OptyADF/PartialArmTemplates/ArmTemplate_8_29_2019_9_11_25.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "OptyADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AZ_Oracle_To_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data_Zero_Faltas",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select\nc.nr_sequencia as id_compromisso,\nc.cd_pessoa_fisica as id_cliente,\nobter_nome_pf(c.cd_pessoa_fisica) as NomePaciente,\npf.dt_nascimento as DtNascimento,\n'55' || substr(pf.nr_ddd_celular, -2) || substr(replace(replace(replace(replace(pf.nr_telefone_celular, '(', ''), ')', ''), ' ', ''), '-', ''), -9) AS CELULAR,\nobter_compl_pf(pf.cd_pessoa_fisica,1,'M') as email,\nc.cd_convenio idconvenio,\nobter_nome_convenio(c.cd_convenio) as convenio,\nc.cd_plano,\nobter_desc_plano(c.cd_convenio, c.cd_plano) ds_plano,\nc.dt_agenda as datacompromisso,\nto_char(c.hr_inicio, 'hh24:mi:ss') as horacompromisso,\nc.ie_status_agenda as id_status,\nobter_status_agenda_paciente(c.nr_sequencia) as ds_status,\na.cd_agenda,\na.ds_agenda as agenda,\nc.cd_procedimento,\nobter_desc_procedimento(c.cd_procedimento, c.ie_origem_proced) as procedimento,\nobter_empresa_estab(a.cd_estabelecimento) as id_empresa,\nobter_nome_empresa(obter_empresa_estab(a.cd_estabelecimento)) as empresa,\na.cd_estabelecimento as id_unidade,\nobter_nome_estab(a.cd_estabelecimento)as unidade,\nc.ie_autorizacao,\nobter_valor_dominio(1227, c.ie_autorizacao) as autorizacao,\nobter_nome_pf(c.cd_medico_exec) as nm_medico,\nc.dt_agendamento,\na.cd_tipo_agenda  as tipo_agenda,\n'' as tipo_agenda_desc,\na.cd_pessoa_fisica as ds_medico_agenda\nfrom agenda_paciente c,\nagenda a,\npessoa_fisica pf\nwhere c.cd_pessoa_fisica = pf.cd_pessoa_fisica\nand c.cd_agenda = a.cd_agenda\nand c.cd_pessoa_fisica is not null\nand trunc(c.dt_agenda) between inicio_dia(sysdate - 6) and fim_dia(sysdate + 30)\nAND c.IE_STATUS_AGENDA NOT IN ('C', 'F', 'I')\nand a.cd_agenda not in (283,404) \nand length('55' || substr(pf.nr_ddd_celular, -2) || substr(replace(replace(replace(replace(pf.nr_telefone_celular, '(', ''), ')', ''), ' ', ''), '-', ''), -9)) = 13\norder by 1",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID_COMPROMISSO"
										},
										"sink": {
											"name": "id_compromisso",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ID_CLIENTE",
											"type": "String"
										},
										"sink": {
											"name": "id_cliente",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "NOMEPACIENTE",
											"type": "String"
										},
										"sink": {
											"name": "nomepaciente",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DTNASCIMENTO",
											"type": "DateTime"
										},
										"sink": {
											"name": "dtnascimento",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CELULAR",
											"type": "String"
										},
										"sink": {
											"name": "celular",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EMAIL",
											"type": "String"
										},
										"sink": {
											"name": "email",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IDCONVENIO",
											"type": "Decimal"
										},
										"sink": {
											"name": "idconvenio",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CONVENIO",
											"type": "String"
										},
										"sink": {
											"name": "convenio",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_PLANO",
											"type": "String"
										},
										"sink": {
											"name": "cd_plano",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DS_PLANO",
											"type": "String"
										},
										"sink": {
											"name": "ds_plano",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DATACOMPROMISSO",
											"type": "DateTime"
										},
										"sink": {
											"name": "datacompromisso",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "HORACOMPROMISSO",
											"type": "DateTime"
										},
										"sink": {
											"name": "horacompromisso",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ID_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "id_status",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "ds_status",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_AGENDA",
											"type": "Decimal"
										},
										"sink": {
											"name": "cd_agenda",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AGENDA",
											"type": "String"
										},
										"sink": {
											"name": "agenda",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CD_PROCEDIMENTO",
											"type": "Decimal"
										},
										"sink": {
											"name": "cd_procedimento",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "PROCEDIMENTO",
											"type": "String"
										},
										"sink": {
											"name": "procedimento",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ID_EMPRESA",
											"type": "Double"
										},
										"sink": {
											"name": "id_empresa",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "EMPRESA",
											"type": "String"
										},
										"sink": {
											"name": "empresa",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ID_UNIDADE",
											"type": "Decimal"
										},
										"sink": {
											"name": "id_unidade",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "UNIDADE",
											"type": "String"
										},
										"sink": {
											"name": "unidade",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IE_AUTORIZACAO",
											"type": "String"
										},
										"sink": {
											"name": "ie_autorizacao",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AUTORIZACAO",
											"type": "String"
										},
										"sink": {
											"name": "autorizacao",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NM_MEDICO",
											"type": "String"
										},
										"sink": {
											"name": "nm_medico",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DT_AGENDAMENTO",
											"type": "DateTime"
										},
										"sink": {
											"name": "dt_agendamento",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "TIPO_AGENDA",
											"type": "Decimal"
										},
										"sink": {
											"name": "tipo_agenda",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TIPO_AGENDA_DESC",
											"type": "String"
										},
										"sink": {
											"name": "tipo_agenda_desc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_MEDICO_AGENDA",
											"type": "String"
										},
										"sink": {
											"name": "ds_medico_agenda",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Oracle_Zero_Faltas",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AZSQL_TB_Zero_Faltas",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Truncate Table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_TRUNCATEZEROFALTAS]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQL_DB_Procedimentos",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Altera_tipo_agenda",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Data_Zero_Faltas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_ALTERTIPOAGENDASPROJESI]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQL_DB_Procedimentos",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Projesi Zero Faltas"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Baixa_Titulos_Pagar')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Baixa_Titulos_Pagar",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select a.nr_titulo, \na.nr_sequencia, \na.dt_baixa, \na.vl_pago,\na.vl_descontos,\na.vl_juros,\na.vl_multa,\na.dt_atualizacao,\n(select c.ds_tipo_baixa from TIPO_BAIXA_CPA c where c.cd_tipo_baixa = a.cd_tipo_baixa) as ds_tipo_baixa,\nobter_ds_transacao(a.nr_seq_movto_trans_fin) as ds_transacao\nfrom titulo_pagar_baixa a",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "NR_TITULO",
											"type": "Decimal"
										},
										"sink": {
											"name": "nr_titulo",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "NR_SEQUENCIA",
											"type": "Decimal"
										},
										"sink": {
											"name": "nr_sequencia",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DT_BAIXA",
											"type": "DateTime"
										},
										"sink": {
											"name": "dt_baixa",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "VL_PAGO",
											"type": "Decimal"
										},
										"sink": {
											"name": "vl_pago",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "VL_DESCONTOS",
											"type": "Decimal"
										},
										"sink": {
											"name": "vl_descontos",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "VL_JUROS",
											"type": "Decimal"
										},
										"sink": {
											"name": "vl_juros",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "VL_MULTA",
											"type": "Decimal"
										},
										"sink": {
											"name": "vl_multa",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "DT_ATUALIZACAO",
											"type": "DateTime"
										},
										"sink": {
											"name": "dt_atualizacao",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DS_TIPO_BAIXA",
											"type": "String"
										},
										"sink": {
											"name": "ds_tipo_baixa",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DS_TRANSACAO",
											"type": "String"
										},
										"sink": {
											"name": "ds_transacao",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CloudTasyPrdDataSet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AZ_SQL_TB_Baixa_Titulos_Pagar",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Contas a Pagar"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CloudTasyPrdDataSet')]",
				"[concat(variables('factoryId'), '/datasets/AZ_SQL_TB_Baixa_Titulos_Pagar')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Baixas titulos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Baixa titulos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select\nl.nr_titulo, \nl.dt_recebimento, \nl.vl_recebido, \nl.vl_descontos, \nl.vl_juros, \nl.vl_multa, \nl.dt_atualizacao, \nt.ds_tipo_recebimento,\nX.DS_TRANSACAO\nfrom TITULO_RECEBER_LIQ L,\n     tipo_recebimento t,\n     TRANSACAO_FINANCEIRA X\nwhere l.cd_tipo_recebimento = t.cd_tipo_recebimento\nAND l.nr_seq_trans_fin = X.NR_SEQUENCIA",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CloudTasyPrdDataSet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AZ_SQL_TB_Baixa_Titulos_Receber",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Contas a receber"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CloudTasyPrdDataSet')]",
				"[concat(variables('factoryId'), '/datasets/AZ_SQL_TB_Baixa_Titulos_Receber')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ordens_Servico_Terceiro')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ordens_HTML5",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT a.NR_SEQUENCIA,\n\t   a.ds_ordem,\n\t   a.NR_SEQ_LOCALIZACAO,\n       a.ds_localizacao,\n\t   a.nr_seq_equipamento,\n       a.ds_equipamento,\n\t   a.cd_pessoa_solicitante,\n       a.nm_solicitante,\n\t   a.dt_ordem_servico,\n\t   a.ie_prioridade,\n\t   a.ds_dano_breve,\n\t   a.dt_atualizacao,\n\t   a.nm_usuario,\n\t   a.dt_inicio_desejado,\n\t   a.ds_dano,\n\t   a.dt_fim_previsto,\n\t   a.dt_inicio_real,\n\t   a.dt_fim_real,\n\t   substr(obter_desc_status_os(a.nr_sequencia),1,255) ie_status_ordem,\n\t   a.nr_grupo_planej,\n\t   a.nr_grupo_trabalho,\n\t   a.nr_seq_estagio,\n\t   a.dt_reabertura,\n\t   a.cd_funcao,\n\t   a.ie_classificacao,\n       a.ds_situacao,\n\t   a.ie_grau_satisfacao,\n\t   a.nr_seq_wheb,\n\t   a.ie_origem_os,\n\t   a.ie_tipo_ordem,\n\t   a.nr_seq_trab,\n\t   a.cd_setor,\n\t   a.ds_setor_localizacao,\n\t   a.nm_usuario_exec,\n\t   a.ds_estagio,\n\t   a.dt_inicio_semana,\n\t   a.dt_inicio_mes,\n\t   a.dt_ano,\n\t   a.cd_estabelecimento,\n\t   substr(Man_Obter_Se_Novo_Hist(a.nr_sequencia, 'Allan.C' ),1,3) ie_novo_hist,\n\t   substr(man_obter_dados_estagio(a.nr_seq_estagio,'C'),1,15) ds_cor_fonte_estagio,\n\t   substr(man_obter_dados_estagio(a.nr_seq_estagio,'F'),1,15) ds_cor_fundo_estagio,\n\t   substr(obter_valor_dominio(1197,a.ie_grau_satisfacao),1,255) ds_grau_satisfacao, \n       a.NM_USUARIO_EXEC_PREV,   \n        a.nr_seq_origem,   \n        a.ie_parado,   \n        a.dt_inicio_previsto,   \n        a.dt_conclusao_desejada,   \n        a.ds_setor_atendimento,   \n        a.ds_grupo_trabalho,   \n        SUBSTR(man_obter_complexidade(a.nr_seq_complex),1,100) ds_complexidade,     \n        a.ds_origem_os,   \n        SUBSTR(obter_descricao_padrao('SERVICO','DS_SERVICO', a.nr_seq_servico),1,255) ds_servico,   \n        ROUND(NVL(obter_hora_entre_datas(a.dt_ordem_servico, NVL(a.dt_aceite_os,SYSDATE)),0),0) qt_horas_aberta,   \n        ROUND(NVL(obter_hora_entre_datas(a.dt_aceite_os,NVL(a.dt_fim_real,SYSDATE)),0),0) qt_horas_processo,   \n        ROUND(NVL(obter_hora_entre_datas(a.dt_ordem_servico, NVL(a.dt_fim_real,SYSDATE)),0),0) qt_horas_total,   \n        man_obter_data_ult_hist(a.nr_sequencia) dt_ult_hist\n        FROM\tman_ordem_servico_v2 a\nwhere a.nr_seq_equipamento = 47\nORDER BY DS_ESTAGIO asc ",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CloudTasyPrdDataSet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AZ_SQL_TB_Ordens_Servico_Terceiro",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Ordens_HTML5_Hist",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Ordens_HTML5",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select x.nr_seq_ordem_serv, \n       x.ie_origem, \n       x.nr_seq_tipo, \n       x.nm_usuario_lib, \n       x.dt_atualizacao, \n       x.ds_relat_tecnico\nfrom man_ordem_serv_tecnico x",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CloudTasyPrdDataSet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AZ_SQL_TB_Ordens_Servico_Hist",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Ordens de Serviço"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CloudTasyPrdDataSet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tickets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy requests",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clear tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "REQUEST",
											"type": "String"
										},
										"sink": {
											"name": "REQUEST",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLIENT",
											"type": "String"
										},
										"sink": {
											"name": "CLIENT"
										}
									},
									{
										"source": {
											"name": "OPENDATE",
											"type": "String"
										},
										"sink": {
											"name": "OPENDATE"
										}
									},
									{
										"source": {
											"name": "CLOSEDATE",
											"type": "String"
										},
										"sink": {
											"name": "CLOSEDATE"
										}
									},
									{
										"source": {
											"name": "LASTACTION",
											"type": "String"
										},
										"sink": {
											"name": "LASTACTION"
										}
									},
									{
										"source": {
											"name": "LASTANALYST",
											"type": "String"
										},
										"sink": {
											"name": "LASTANALYST"
										}
									},
									{
										"source": {
											"name": "LASTREOPEN",
											"type": "String"
										},
										"sink": {
											"name": "LASTREOPEN"
										}
									},
									{
										"source": {
											"name": "RESLREMAINS",
											"type": "String"
										},
										"sink": {
											"name": "RESLREMAINS"
										}
									},
									{
										"source": {
											"name": "RESPMINS",
											"type": "String"
										},
										"sink": {
											"name": "RESPMINS"
										}
									},
									{
										"source": {
											"name": "RESLMINS",
											"type": "String"
										},
										"sink": {
											"name": "RESLMINS"
										}
									},
									{
										"source": {
											"name": "CLOSED",
											"type": "String"
										},
										"sink": {
											"name": "CLOSED"
										}
									},
									{
										"source": {
											"name": "ORIGANAL",
											"type": "String"
										},
										"sink": {
											"name": "ORIGANAL"
										}
									},
									{
										"source": {
											"name": "CURRANAL",
											"type": "String"
										},
										"sink": {
											"name": "CURRANAL"
										}
									},
									{
										"source": {
											"name": "GROUPANAL",
											"type": "String"
										},
										"sink": {
											"name": "GROUPANAL"
										}
									},
									{
										"source": {
											"name": "LASTANAL",
											"type": "String"
										},
										"sink": {
											"name": "LASTANAL"
										}
									},
									{
										"source": {
											"name": "LASTANLGRP",
											"type": "String"
										},
										"sink": {
											"name": "LASTANLGRP"
										}
									},
									{
										"source": {
											"name": "ORIGGROUP",
											"type": "String"
										},
										"sink": {
											"name": "ORIGGROUP"
										}
									},
									{
										"source": {
											"name": "CURRGROUP",
											"type": "String"
										},
										"sink": {
											"name": "CURRGROUP"
										}
									},
									{
										"source": {
											"name": "LASTGROUP",
											"type": "String"
										},
										"sink": {
											"name": "LASTGROUP"
										}
									},
									{
										"source": {
											"name": "CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "CATEGORY"
										}
									},
									{
										"source": {
											"name": "PRODUCT",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCT"
										}
									},
									{
										"source": {
											"name": "PROCESS",
											"type": "String"
										},
										"sink": {
											"name": "PROCESS"
										}
									},
									{
										"source": {
											"name": "RSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "RSTATUS"
										}
									},
									{
										"source": {
											"name": "RPRIORITY",
											"type": "String"
										},
										"sink": {
											"name": "RPRIORITY"
										}
									},
									{
										"source": {
											"name": "REQTYPE",
											"type": "String"
										},
										"sink": {
											"name": "REQTYPE"
										}
									},
									{
										"source": {
											"name": "REQSOURCE",
											"type": "String"
										},
										"sink": {
											"name": "REQSOURCE"
										}
									},
									{
										"source": {
											"name": "LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "REQLOCATION"
										}
									},
									{
										"source": {
											"name": "ORGUNIT",
											"type": "String"
										},
										"sink": {
											"name": "ORGUNIT"
										}
									},
									{
										"source": {
											"name": "ORGUNIT_ROOT",
											"type": "String"
										},
										"sink": {
											"name": "ORGUNIT_ROOT"
										}
									},
									{
										"source": {
											"name": "ABSTRACT",
											"type": "String"
										},
										"sink": {
											"name": "ABSTRACT"
										}
									},
									{
										"source": {
											"name": "DESCRIPT",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPT"
										}
									},
									{
										"source": {
											"name": "LASTSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "LASTSTATUS"
										}
									},
									{
										"source": {
											"name": "LASTPRIORITY",
											"type": "String"
										},
										"sink": {
											"name": "LASTPRIORITY"
										}
									},
									{
										"source": {
											"name": "LASTACTIONATEND",
											"type": "String"
										},
										"sink": {
											"name": "LASTACTIONATEND"
										}
									},
									{
										"source": {
											"name": "RESPDATE",
											"type": "String"
										},
										"sink": {
											"name": "RESPDATE"
										}
									},
									{
										"source": {
											"name": "RESPTIME",
											"type": "String"
										},
										"sink": {
											"name": "RESPTIME"
										}
									},
									{
										"source": {
											"name": "RESLTIME",
											"type": "String"
										},
										"sink": {
											"name": "RESLTIME"
										}
									},
									{
										"source": {
											"name": "RESPREMAINS"
										},
										"sink": {
											"name": "RESPREMAINS"
										}
									},
									{
										"source": {
											"name": "RESPMODE",
											"type": "String"
										},
										"sink": {
											"name": "RESPMODE"
										}
									},
									{
										"source": {
											"name": "RESLMODE",
											"type": "String"
										},
										"sink": {
											"name": "RESLMODE"
										}
									},
									{
										"source": {
											"name": "NOCOMPUTE",
											"type": "String"
										},
										"sink": {
											"name": "NOCOMPUTE"
										}
									},
									{
										"source": {
											"name": "APROVANLTYPE",
											"type": "String"
										},
										"sink": {
											"name": "APROVANLTYPE"
										}
									},
									{
										"source": {
											"name": "APROVCLITYPE",
											"type": "String"
										},
										"sink": {
											"name": "APROVCLITYPE"
										}
									},
									{
										"source": {
											"name": "MLEVELAPROV",
											"type": "String"
										},
										"sink": {
											"name": "MLEVELAPROV"
										}
									},
									{
										"source": {
											"name": "CLIENTAPROV",
											"type": "String"
										},
										"sink": {
											"name": "CLIENTAPROV"
										}
									},
									{
										"source": {
											"name": "PACKAGE",
											"type": "String"
										},
										"sink": {
											"name": "PACKAGE"
										}
									},
									{
										"source": {
											"name": "WORKFLOW",
											"type": "String"
										},
										"sink": {
											"name": "WORKFLOW"
										}
									},
									{
										"source": {
											"name": "LASTSEVENT",
											"type": "String"
										},
										"sink": {
											"name": "LASTSEVENT"
										}
									},
									{
										"source": {
											"name": "REQWORKFLOW",
											"type": "String"
										},
										"sink": {
											"name": "REQWORKFLOW"
										}
									},
									{
										"source": {
											"name": "ORIGCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "ORIGCATEGORY"
										}
									},
									{
										"source": {
											"name": "ORIGPRODUCT",
											"type": "String"
										},
										"sink": {
											"name": "ORIGPRODUCT"
										}
									},
									{
										"source": {
											"name": "ORIGPROCESS",
											"type": "String"
										},
										"sink": {
											"name": "ORIGPROCESS"
										}
									},
									{
										"source": {
											"name": "TOTALATTACH",
											"type": "String"
										},
										"sink": {
											"name": "TOTALATTACH"
										}
									},
									{
										"source": {
											"name": "TOTALATTACHACT",
											"type": "String"
										},
										"sink": {
											"name": "TOTALATTACHACT"
										}
									},
									{
										"source": {
											"name": "INSERTDATE",
											"type": "String"
										},
										"sink": {
											"name": "INSERTDATE"
										}
									},
									{
										"source": {
											"name": "QFORM",
											"type": "String"
										},
										"sink": {
											"name": "QFORM"
										}
									},
									{
										"source": {
											"name": "QSURVEY",
											"type": "String"
										},
										"sink": {
											"name": "QSURVEY"
										}
									},
									{
										"source": {
											"name": "QSESSIONFORM",
											"type": "String"
										},
										"sink": {
											"name": "QSESSIONFORM"
										}
									},
									{
										"source": {
											"name": "QSESSIONSURVEY",
											"type": "String"
										},
										"sink": {
											"name": "QSESSIONSURVEY"
										}
									},
									{
										"source": {
											"name": "REQUESTFLAGS",
											"type": "String"
										},
										"sink": {
											"name": "REQUESTFLAGS"
										}
									},
									{
										"source": {
											"name": "V_ASSOCIATION",
											"type": "String"
										},
										"sink": {
											"name": "V_ASSOCIATION"
										}
									},
									{
										"source": {
											"name": "V_HAS_APPROVER",
											"type": "String"
										},
										"sink": {
											"name": "V_HAS_APPROVER"
										}
									},
									{
										"source": {
											"name": "LASTSEQUENCE",
											"type": "String"
										},
										"sink": {
											"name": "LASTSEQUENCE"
										}
									},
									{
										"source": {
											"name": "LASTRECALCDATE",
											"type": "String"
										},
										"sink": {
											"name": "LASTRECALCDATE"
										}
									},
									{
										"source": {
											"name": "LASTAPPROVCNTX",
											"type": "String"
										},
										"sink": {
											"name": "LASTAPPROVCNTX"
										}
									},
									{
										"source": {
											"name": "LASTAPPROVUSER",
											"type": "String"
										},
										"sink": {
											"name": "LASTAPPROVUSER"
										}
									},
									{
										"source": {
											"name": "LASTAPPROVCODE",
											"type": "String"
										},
										"sink": {
											"name": "LASTAPPROVCODE"
										}
									},
									{
										"source": {
											"name": "CURRAPPROVCODE",
											"type": "String"
										},
										"sink": {
											"name": "CURRAPPROVCODE"
										}
									},
									{
										"source": {
											"name": "ORIGNOCOMPUTE",
											"type": "String"
										},
										"sink": {
											"name": "ORIGNOCOMPUTE"
										}
									},
									{
										"source": {
											"name": "ORIGRSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "ORIGRSTATUS"
										}
									},
									{
										"source": {
											"name": "ORIGRPRIORITY",
											"type": "String"
										},
										"sink": {
											"name": "ORIGRPRIORITY"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "FILE_REQUESTS",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TABLE_REQUESTS",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Clear tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_TRUNCATEREQUESTS]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQL_DB_Procedimentos",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Calculate fields",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy requests",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_CALCULATEREQUESTS]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQL_DB_Procedimentos",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy sessions",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clear tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "QSESSION",
											"type": "String"
										},
										"sink": {
											"name": "QSESSION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QSESSIONTITLE",
											"type": "String"
										},
										"sink": {
											"name": "QSESSIONTITLE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QCLIENT",
											"type": "String"
										},
										"sink": {
											"name": "QCLIENT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QFORM",
											"type": "String"
										},
										"sink": {
											"name": "QFORM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QVERSION",
											"type": "String"
										},
										"sink": {
											"name": "QVERSION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "QSTATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QANSWERDATE",
											"type": "String"
										},
										"sink": {
											"name": "QANSWERDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QEXPDATE",
											"type": "String"
										},
										"sink": {
											"name": "QEXPDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QAPPLICATION",
											"type": "String"
										},
										"sink": {
											"name": "QAPPLICATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QSURVEYTYPE",
											"type": "String"
										},
										"sink": {
											"name": "QSURVEYTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQLOCATION",
											"type": "String"
										},
										"sink": {
											"name": "REQLOCATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "FILE_QSESSION",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TABLE_QSESSION",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy answers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clear tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "QSESSION",
											"type": "String"
										},
										"sink": {
											"name": "QSESSION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUESTION",
											"type": "String"
										},
										"sink": {
											"name": "QUESTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QANSWER",
											"type": "String"
										},
										"sink": {
											"name": "QANSWER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QANSWERED",
											"type": "String"
										},
										"sink": {
											"name": "QANSWERED",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QANSWERDATE",
											"type": "String"
										},
										"sink": {
											"name": "QANSWERDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QSHOW",
											"type": "String"
										},
										"sink": {
											"name": "QSHOW",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QORDER",
											"type": "String"
										},
										"sink": {
											"name": "QORDER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QUPDATED",
											"type": "String"
										},
										"sink": {
											"name": "QUPDATED",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "FILE_QANSWER",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TABLE_QANSWER",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Update clients",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy answers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_UPDATEREQUESTCLIENT]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQL_DB_Procedimentos",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy table answers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clear tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "QSESSION",
											"type": "String"
										},
										"sink": {
											"name": "QSESSION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TABLE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "TABLE_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TABLE_ROWID",
											"type": "String"
										},
										"sink": {
											"name": "TABLE_ROWID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TABLE_ROWNUM",
											"type": "String"
										},
										"sink": {
											"name": "TABLE_ROWNUM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COLUMN_NAME",
											"type": "String"
										},
										"sink": {
											"name": "COLUMN_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COLUMN_VALUE",
											"type": "String"
										},
										"sink": {
											"name": "COLUMN_VALUE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COLUMN_POSITION",
											"type": "String"
										},
										"sink": {
											"name": "COLUMN_POSITION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COLUMN_ANSWERED",
											"type": "String"
										},
										"sink": {
											"name": "COLUMN_ANSWERED",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COLUMN_ANSWERDATE",
											"type": "String"
										},
										"sink": {
											"name": "COLUMN_ANSWERDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COLUMN_UPDATED",
											"type": "String"
										},
										"sink": {
											"name": "COLUMN_UPDATED",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COLUMN_VISIBLE",
											"type": "String"
										},
										"sink": {
											"name": "COLUMN_VISIBLE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "FILE_QTABLEANSWER",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "TABLE_QTABLEANSWER",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Requestia"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FILE_QTABLEANSWER')]",
				"[concat(variables('factoryId'), '/datasets/TABLE_QTABLEANSWER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Titulos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Titulos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT  SUBSTR(OBTER_NOME_ESTABELECIMENTO(A.CD_ESTABELECIMENTO),1,255) ESTABELECIMENTO,\n        A.CD_CGC CD_CNPJ,\n\t\tB.DS_RAZAO_SOCIAL NM_RAZAOSOCIAL,\n        B.NM_FANTASIA,\n        A.NR_TITULO,\n        A.NR_NOTA_FISCAL,\n        A.DT_EMISSAO,\n        A.DT_VENCIMENTO DT_VENCIMENTO_ORIGINAL,\n        A.DT_PAGAMENTO_PREVISTO DT_VENCIMENTO_PRORROGADO,\n        A.VL_TITULO VL_BRUTO,\n        A.VL_SALDO_JUROS,\n        A.VL_SALDO_MULTA,\n        OBTER_DADOS_TITULO_RECEBER(A.NR_TITULO, 'VLL') VL_LIQUIDO,\n        A.VL_SALDO_TITULO,\n        OBTER_VL_AMENOR_TIT(A.NR_TITULO,'A',A.DT_ATUALIZACAO) as VL_AMENOR,\n        Obter_valor_dominio(710, a.ie_situacao) as situacao\nFROM    TITULO_RECEBER A, PESSOA_JURIDICA B -- TITULO_RECEBER_LIQ L\nwhere     b.cd_cgc = a.cd_cgc\nand     a.vl_saldo_titulo <> 0",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CloudTasyPrdDataSet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AZ_SQL_TB_Titulos_Receber",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Contas a receber"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CloudTasyPrdDataSet')]",
				"[concat(variables('factoryId'), '/datasets/AZ_SQL_TB_Titulos_Receber')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Titulos_Pagar')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Titulos_Pagar",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select obter_nome_estab(t.cd_estabelecimento) as estabelecimento,\n       t.cd_cgc,\n       obter_razao_social(t.cd_cgc) as nm_razaosocial,\n       obter_nome_fantasia_pj(t.cd_cgc) nm_fantasia,\n       t.nr_titulo,\n       t.nr_seq_nota_fiscal,\n       t.dt_emissao,\n       t.dt_vencimento_original,\n       t.dt_vencimento_atual,\n       t.vl_titulo,\n       t.vl_saldo_titulo,\n       t.vl_saldo_juros,\n       t.vl_saldo_multa,\n       t.vl_dia_antecipacao,\n       t.vl_bordero,\n       t.vl_juros_bordero,\n       t.vl_multa_bordero,\n       t.vl_desconto_bordero,\n       t.vl_ir,\n       t.vl_imposto_munic,\n       t.vl_inss,\n       t.vl_out_desp_bordero,\n       t.vl_titulo_estrang,\n       t.vl_cotacao,\n       obter_valor_dominio(501,t.ie_situacao) as situacao\nfrom titulo_pagar t",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CloudTasyPrdDataSet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AZ_SQL_TB_Titulos_Pagar",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Contas a Pagar"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CloudTasyPrdDataSet')]",
				"[concat(variables('factoryId'), '/datasets/AZ_SQL_TB_Titulos_Pagar')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZ_SQL_TB_Baixa_Titulos_Pagar')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Contas a Pagar"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "nr_titulo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nr_sequencia",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dt_baixa",
						"type": "date"
					},
					{
						"name": "vl_pago",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_descontos",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_juros",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_multa",
						"type": "float",
						"precision": 15
					},
					{
						"name": "dt_atualizacao",
						"type": "date"
					},
					{
						"name": "ds_tipo_baixa",
						"type": "varchar"
					},
					{
						"name": "ds_transacao",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Aging_Baixa_Titulo_Pagar"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZ_SQL_TB_Baixa_Titulos_Receber')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Contas a Receber"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "nr_titulO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dt_recebimento",
						"type": "date"
					},
					{
						"name": "vl_recebido",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_descontos",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_juros",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_multa",
						"type": "float",
						"precision": 15
					},
					{
						"name": "dt_atualizacao",
						"type": "date"
					},
					{
						"name": "ds_tipo_recebimento",
						"type": "varchar"
					},
					{
						"name": "nr_seq_trans_fin",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Aging_Baixa_Titulo_Receber"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZ_SQL_TB_Titulos_Pagar')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Contas a Pagar"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "estabelecimento",
						"type": "varchar"
					},
					{
						"name": "cd_cgc",
						"type": "varchar"
					},
					{
						"name": "nm_razaosocial",
						"type": "varchar"
					},
					{
						"name": "nm_fantasia",
						"type": "varchar"
					},
					{
						"name": "nr_titulo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nr_seq_nota_fiscal",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dt_emissao",
						"type": "date"
					},
					{
						"name": "dt_vencimento_original",
						"type": "date"
					},
					{
						"name": "dt_vencimento_atual",
						"type": "date"
					},
					{
						"name": "vl_titulo",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_saldo_titulo",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_saldo_juros",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_saldo_multa",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_dia_antecipacao",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_bordero",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_juros_bordero",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_multa_bordero",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_desconto_bordero",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_ir",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_imposto_munic",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_inss",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_out_desp_bordero",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_titulo_estrang",
						"type": "float",
						"precision": 15
					},
					{
						"name": "vl_cotacao",
						"type": "float",
						"precision": 15
					},
					{
						"name": "situacao",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Aging_Titulo_Pagar"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZ_SQL_TB_Titulos_Receber')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Contas a Receber"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ESTABELECIMENTO",
						"type": "varchar"
					},
					{
						"name": "CD_CNPJ",
						"type": "varchar"
					},
					{
						"name": "NM_RAZAOSOCIAL",
						"type": "varchar"
					},
					{
						"name": "NM_FANTASIA",
						"type": "varchar"
					},
					{
						"name": "NR_TITULO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NR_NOTA_FISCAL",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DT_EMISSAO",
						"type": "date"
					},
					{
						"name": "DT_VENCIMENTO_ORIGINAL",
						"type": "date"
					},
					{
						"name": "DT_VENCIMENTO_PRORROGADO",
						"type": "date"
					},
					{
						"name": "VL_BRUTO",
						"type": "float",
						"precision": 15
					},
					{
						"name": "VL_SALDO_JUROS",
						"type": "float",
						"precision": 15
					},
					{
						"name": "VL_SALDO_MULTA",
						"type": "float",
						"precision": 15
					},
					{
						"name": "VL_LIQUIDO",
						"type": "float",
						"precision": 15
					},
					{
						"name": "VL_SALDO_TITULO",
						"type": "float",
						"precision": 15
					},
					{
						"name": "VL_AMENOR",
						"type": "float",
						"precision": 15
					},
					{
						"name": "SITUACAO",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Aging_Titulo_Receber"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CloudTasyPrdDataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CloudTasyProd_NEW",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Power BI"
				},
				"annotations": [],
				"type": "OracleTable",
				"structure": [
					{
						"name": "NR_TITULO",
						"type": "Decimal"
					},
					{
						"name": "NR_SEQUENCIA",
						"type": "Decimal"
					},
					{
						"name": "DT_BAIXA",
						"type": "DateTime"
					},
					{
						"name": "VL_PAGO",
						"type": "Decimal"
					},
					{
						"name": "VL_DESCONTOS",
						"type": "Decimal"
					},
					{
						"name": "VL_JUROS",
						"type": "Decimal"
					},
					{
						"name": "VL_MULTA",
						"type": "Decimal"
					},
					{
						"name": "DT_ATUALIZACAO",
						"type": "DateTime"
					},
					{
						"name": "DS_TIPO_BAIXA",
						"type": "String"
					},
					{
						"name": "DS_TRANSACAO",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FILE_QTABLEANSWER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Folder_Requestia",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "qtableanswer.csv"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "QSESSION",
						"type": "String"
					},
					{
						"name": "TABLE_NAME",
						"type": "String"
					},
					{
						"name": "TABLE_ROWID",
						"type": "String"
					},
					{
						"name": "TABLE_ROWNUM",
						"type": "String"
					},
					{
						"name": "COLUMN_NAME",
						"type": "String"
					},
					{
						"name": "COLUMN_VALUE",
						"type": "String"
					},
					{
						"name": "COLUMN_POSITION",
						"type": "String"
					},
					{
						"name": "COLUMN_ANSWERED",
						"type": "String"
					},
					{
						"name": "COLUMN_ANSWERDATE",
						"type": "String"
					},
					{
						"name": "COLUMN_UPDATED",
						"type": "String"
					},
					{
						"name": "COLUMN_VISIBLE",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TABLE_QTABLEANSWER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Requestia"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "QSESSION",
						"type": "varchar"
					},
					{
						"name": "TABLE_NAME",
						"type": "varchar"
					},
					{
						"name": "TABLE_ROWID",
						"type": "varchar"
					},
					{
						"name": "TABLE_ROWNUM",
						"type": "varchar"
					},
					{
						"name": "COLUMN_NAME",
						"type": "varchar"
					},
					{
						"name": "COLUMN_VALUE",
						"type": "varchar"
					},
					{
						"name": "COLUMN_POSITION",
						"type": "varchar"
					},
					{
						"name": "COLUMN_ANSWERED",
						"type": "varchar"
					},
					{
						"name": "COLUMN_ANSWERDATE",
						"type": "varchar"
					},
					{
						"name": "COLUMN_UPDATED",
						"type": "varchar"
					},
					{
						"name": "COLUMN_VISIBLE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "REQUESTIA_QTABLEANSWER"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily Requestia Tickets')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Tickets",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-08-26T11:00:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								9
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Tickets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Projesi Diario')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Execução de pipeline para atualização das informações Projesi",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "AZ_Oracle_To_SQL",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-08-20T15:22:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								10
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/AZ_Oracle_To_SQL')]"
			]
		}
	]
}