OptyADF/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "OptyADF"
		},
		"AzureSQL_DB_Procedimentos_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSQL_DB_Procedimentos'"
		},
		"AzureSqlDatabase_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Send email')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Send notification",
						"description": "Generic pipeline for sending email using Azure Logic App",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-53.eastus2.logic.azure.com:443/workflows/464dec07d29247d9961de309d3bce20f/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=sh4Xorsyt738hlUwbioYqXIxNAoMWRw8gey3yBcg8fc",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().parameters.MasterPipeline}",
								"Subject": "@{pipeline().parameters.Subject}",
								"ErrorMessage": "@{pipeline().parameters.ErrorMessage}",
								"EmailTo": "@pipeline().parameters.EmailTo"
							}
						}
					}
				],
				"parameters": {
					"EmailTo": {
						"type": "string",
						"defaultValue": "No email set!"
					},
					"Subject": {
						"type": "string",
						"defaultValue": "No subject set!"
					},
					"ErrorMessage": {
						"type": "string",
						"defaultValue": "No message set!"
					},
					"MasterPipeline": {
						"type": "string",
						"defaultValue": "No pipeline set!"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQL_DB_Procedimentos')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSQL_DB_Procedimentos_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily 0100 AM')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Execução de pipelines as 01:00",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-01-22T12:54:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								4
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily 0200 AM')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Criado para executar as consultas no HOSAG",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-10-08T03:02:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								8
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily 0300 AM')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Execução de pipelines as 03:00",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-01-21T22:31:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily 1000 PM')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Execução de pipelines as 22:00.",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-01-22T12:56:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								1
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Weekly Tuesday')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Execução de pipelines toda terça-feira",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2020-01-24T12:41:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								15
							],
							"weekDays": [
								"Tuesday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ServidorArquivosBI')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Procedure_Marca')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Procedure_Marca",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "sp_UPDATETRADEMARKV2",
							"storedProcedureParameters": {
								"CNPJ_FIELDNAME": {
									"value": "cd_cgc_estab",
									"type": "String"
								},
								"INITIALS_FIELDNAME": {
									"value": "SIGLA_UNIDADE",
									"type": "String"
								},
								"MARK_FIELDNAME": {
									"value": "MARCA",
									"type": "String"
								},
								"TABLENAME": {
									"value": "Aging_Baixa_Titulo_Receber",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSQL_DB_Procedimentos",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Contas a receber"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQL_DB_Procedimentos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Workflows Requestia')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Extrai informações específicas para serem processadas nos workflows do Office Flow",
				"activities": [
					{
						"name": "Extract CAPEX",
						"description": "Copy NFD tickets to REQUESTIA_CAPEXNFD table, solving timeout in Microsoft Flow that send weekly mail from sergio.queiroz@opty.com.br account",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_EXTRACTCAPEXREQUESTS]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQL_DB_Procedimentos",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Extract TISS",
						"description": "Copy TISS tickets to specific table, solving timeout in Microsoft Flow that send weekly mail from sergio.queiroz@opty.com.br account",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_EXTRACTTISSREQUESTS]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQL_DB_Procedimentos",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Start",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "Apoio"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQL_DB_Procedimentos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZSQL_TB_Agendamentos_Futuros_Unidade')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Retornos"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CD_PESSOA_FISICA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CD_CONVENIO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CNPJ",
						"type": "varchar"
					},
					{
						"name": "DATA_AGENDA",
						"type": "date"
					},
					{
						"name": "HORA_AGENDA",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CD_TIPO_AGENDA",
						"type": "varchar"
					},
					{
						"name": "NM_PACIENTE",
						"type": "varchar"
					},
					{
						"name": "DS_PROCEDIMENTO_PRINC",
						"type": "varchar"
					},
					{
						"name": "DS_PROCEDIMENTO_ADIC",
						"type": "varchar"
					},
					{
						"name": "IE_QUANTIDADE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NM_USUARIO",
						"type": "varchar"
					},
					{
						"name": "MEDICO",
						"type": "varchar"
					},
					{
						"name": "SIGLA_UNIDADE",
						"type": "varchar"
					},
					{
						"name": "MARCA",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Agendamentos_Futuros_Unidade"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQL_DB_Procedimentos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZSQL_TB_NC_AgentesPorDia')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Nexcore/Azure"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Usuario",
						"type": "varchar"
					},
					{
						"name": "Intervalo",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Atendidas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Recusas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Recebidas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Internas_Recebidas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Transferencias",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Efetuadas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Efetuadas_Tratados",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Taxa_de_Contato",
						"type": "varchar"
					},
					{
						"name": "Tempo_Atendidas",
						"type": "varchar"
					},
					{
						"name": "Tempo_Internas_Recebidas",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Efetuadas",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Medio_Falado",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Total_Falado",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Toque_Agente",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Toque_Cliente",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Pausa",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Estouro",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Disponivel",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Indisponivel",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Logado",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Deslogado",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Falado_x_Logado",
						"type": "time",
						"scale": 7
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Nexcore_AgentesPorDia]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQL_DB_Procedimentos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZSQL_TB_NC_AgentesPorDia_Temp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Nexcore/Azure"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Usuario",
						"type": "varchar"
					},
					{
						"name": "Intervalo",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Atendidas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Recusas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Recebidas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Internas_Recebidas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Transferencias",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Efetuadas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Efetuadas_Tratados",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Taxa_de_Contato",
						"type": "varchar"
					},
					{
						"name": "Tempo_Atendidas",
						"type": "varchar"
					},
					{
						"name": "Tempo_Internas_Recebidas",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Efetuadas",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Medio_Falado",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Total_Falado",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Toque_Agente",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Toque_Cliente",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Pausa",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Estouro",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Disponivel",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Indisponivel",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Logado",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Deslogado",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Falado_x_Logado",
						"type": "time",
						"scale": 7
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Nexcore_AgentesPorDia_temp]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQL_DB_Procedimentos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZSQL_TB_NC_AgentesPorHora')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Nexcore/Azure"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Usuario",
						"type": "varchar"
					},
					{
						"name": "Intervalo",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Atendidas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Recusas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Recebidas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Internas_Recebidas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Transferencias",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Efetuadas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Efetuadas_Tratados",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Taxa_de_Contato",
						"type": "varchar"
					},
					{
						"name": "Tempo_Atendidas",
						"type": "varchar"
					},
					{
						"name": "Tempo_Internas_Recebidas",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Efetuadas",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Medio_Falado",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Total_Falado",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Toque_Agente",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Toque_Cliente",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Pausa",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Estouro",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Disponivel",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Indisponivel",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Logado",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Deslogado",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Falado_x_Logado",
						"type": "time",
						"scale": 7
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Nexcore_AgentesPorHora]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQL_DB_Procedimentos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZSQL_TB_NC_AgentesPorHora_Temp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Nexcore/Azure"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Usuario",
						"type": "varchar"
					},
					{
						"name": "Intervalo",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Atendidas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Recusas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Recebidas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Internas_Recebidas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Transferencias",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Efetuadas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Efetuadas_Tratados",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Taxa_de_Contato",
						"type": "varchar"
					},
					{
						"name": "Tempo_Atendidas",
						"type": "varchar"
					},
					{
						"name": "Tempo_Internas_Recebidas",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Efetuadas",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Medio_Falado",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Total_Falado",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Toque_Agente",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Toque_Cliente",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Pausa",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Estouro",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Disponivel",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Indisponivel",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Logado",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Tempo_Deslogado",
						"type": "time",
						"scale": 7
					},
					{
						"name": "Falado_x_Logado",
						"type": "time",
						"scale": 7
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Nexcore_AgentesPorHora_temp]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQL_DB_Procedimentos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZSQL_TB_NC_BilheteLigacoes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Tabela Azure SQL Server Procedimentos.dbo.BilheteLigacoes",
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Nexcore/Azure"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DATA",
						"type": "date"
					},
					{
						"name": "HORA",
						"type": "time",
						"scale": 7
					},
					{
						"name": "USUARIO",
						"type": "varchar"
					},
					{
						"name": "TIPO",
						"type": "varchar"
					},
					{
						"name": "ORIGEM",
						"type": "varchar"
					},
					{
						"name": "DESTINO",
						"type": "varchar"
					},
					{
						"name": "STATUS",
						"type": "varchar"
					},
					{
						"name": "CENTRO_DE_CUSTO",
						"type": "varchar"
					},
					{
						"name": "TEMPO_TARIFADO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TEMPO_DECORRIDO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CAMPANHA",
						"type": "varchar"
					},
					{
						"name": "FILA",
						"type": "varchar"
					},
					{
						"name": "UNIQUE_ID",
						"type": "float",
						"precision": 15
					},
					{
						"name": "LINKED_ID",
						"type": "float",
						"precision": 15
					},
					{
						"name": "MARCA",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Nexcore_BilheteLigacoes]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQL_DB_Procedimentos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZSQL_TB_NC_BilheteLigacoes_Temp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Tabela Azure SQL Server Procedimentos.dbo.BilheteLigacoes",
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Nexcore/Azure"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DATA",
						"type": "date"
					},
					{
						"name": "HORA",
						"type": "time",
						"scale": 7
					},
					{
						"name": "USUARIO",
						"type": "varchar"
					},
					{
						"name": "TIPO",
						"type": "varchar"
					},
					{
						"name": "ORIGEM",
						"type": "varchar"
					},
					{
						"name": "DESTINO",
						"type": "varchar"
					},
					{
						"name": "STATUS",
						"type": "varchar"
					},
					{
						"name": "CENTRO_DE_CUSTO",
						"type": "varchar"
					},
					{
						"name": "TEMPO_TARIFADO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TEMPO_DECORRIDO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CAMPANHA",
						"type": "varchar"
					},
					{
						"name": "FILA",
						"type": "varchar"
					},
					{
						"name": "UNIQUE_ID",
						"type": "float",
						"precision": 15
					},
					{
						"name": "LINKED_ID",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Nexcore_BilheteLigacoes_temp]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQL_DB_Procedimentos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZSQL_TB_NC_FilasPorHoras')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Nexcore/Azure"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Fila",
						"type": "varchar"
					},
					{
						"name": "Intervalo",
						"type": "varchar"
					},
					{
						"name": "Atendidas_Ate_NS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Atendidas_Apos_NS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Atendidas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Abandonos_Ate_NS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Abandonos_Apos_NS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Abandonos_Anuncio_Inicial",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Abandonos",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Roteamentos_Timeout",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Roteamentos_Fila_Cheia",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Roteamentos_Fila_Vazia",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Roteamentos_Fila_Sem_Ags_Disp",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Roteamentos_Caixa_Postal",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Roteamentos",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fora_Horario_Antes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fora_Horario_Intervalo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fora_Horario_Depois",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fora_Horario",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Total_Recebidas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Callback_Tratados",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Callback_Nao_Tratados",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Callback",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Tempo_Toque",
						"type": "varchar"
					},
					{
						"name": "Tempo_Falado",
						"type": "varchar"
					},
					{
						"name": "Tempo_Medio_Falado",
						"type": "varchar"
					},
					{
						"name": "Tempo_Medio_Pausa_ACW",
						"type": "varchar"
					},
					{
						"name": "Tempo_Medio_Produtivo_AHT",
						"type": "varchar"
					},
					{
						"name": "Nivel_Servico",
						"type": "varchar"
					},
					{
						"name": "Taxa_Atendimento",
						"type": "varchar"
					},
					{
						"name": "Taxa_Abandono",
						"type": "varchar"
					},
					{
						"name": "Tempo_Medio_Espera",
						"type": "varchar"
					},
					{
						"name": "Tempo_Medio_para_Atender",
						"type": "varchar"
					},
					{
						"name": "Tempo_Total_para_Atender",
						"type": "varchar"
					},
					{
						"name": "Tempo_Medio_para_Abandono",
						"type": "varchar"
					},
					{
						"name": "Tempo_Total_para_Abandono",
						"type": "varchar"
					},
					{
						"name": "Tempo_Total_Espera",
						"type": "varchar"
					},
					{
						"name": "Agentes_Logados_Minimo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Agentes_Logados_Maximo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Chamadas_em_Espera_Minimo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Chamadas_em_Espera_Medio",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Chamadas_em_Espera_Maximo",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Nexcore_FilasPorHoras]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQL_DB_Procedimentos')]"
			]
		}
	]
}